# Predicting EPL Result Using Poisson Distribution and Classification
Poisson Distribution Wiki: [Link](https://en.wikipedia.org/wiki/Poisson_distribution)

## Notebook Contents:

[Objective](#Objective)  
[Data Prep/Summary](#DPS)  
[Exploratory Data Analysis](#EDA)  
[Poisson Distribution](#PD)

<a id='Objective'></a>
### Objective:

Predict the probability of each matches results of English Premier League using past season data using Poisson distribution.<br>
We are not doing any statistical modeling here. We simply predict the probability of how many goals home/away team would score in every single game in season.<br>

<a id='DPS'></a>
### Data Prep/Summary:
- English Premier League Stats (2012 - Present)
- English Premier League Fixtures (2012 - Present)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# For Poisson distribution
from scipy.stats import poisson

In [14]:
# Read past seasons data which have been cleaned beforehands
# We want teamnames, total number of goals each team scored and allowed ('Team', 'HGF', 'HGA')
# We calculate each teams offensive and defensive rating ('H_Att', 'A_Att', 'H_Def', 'A_Def')
# Number of yellow cards, red cards, and Discipline points and the number of clean sheets each team for the last season

# IMPORTANT
# table_13 has the final result of 13/14 season, with 12/13 seasons summary
# We will be able to predict the result using features 

table_13 = pd.read_csv('./Data/epl_table_1314.csv')[['Team', 'HGF', 'HGA', 'H_Att', 'A_Att', 'H_Def', 'A_Def', 'YC', 'RC', 'DIS', 'CS']]
table_14 = pd.read_csv('./Data/epl_table_1415.csv')[['Team', 'HGF', 'HGA', 'H_Att', 'A_Att', 'H_Def', 'A_Def', 'YC', 'RC', 'DIS', 'CS']]
table_15 = pd.read_csv('./Data/epl_table_1516.csv')[['Team', 'HGF', 'HGA', 'H_Att', 'A_Att', 'H_Def', 'A_Def', 'YC', 'RC', 'DIS', 'CS']]
table_16 = pd.read_csv('./Data/epl_table_1617.csv')[['Team', 'HGF', 'HGA', 'H_Att', 'A_Att', 'H_Def', 'A_Def', 'YC', 'RC', 'DIS', 'CS']]
table_17 = pd.read_csv('./Data/epl_table_1718.csv')[['Team', 'HGF', 'HGA', 'H_Att', 'A_Att', 'H_Def', 'A_Def', 'YC', 'RC', 'DIS', 'CS']]

table = [table_13, table_14, table_15, table_16, table_17]

In [16]:
# Read all season fixtures from 13/14 to 18/19 (present)
# We need home/away team and the final result to compare with our prediction
# We want how many goals they score to make useful EDAs

epl_detail_1314 = pd.read_csv('./Data/epl14.csv')[['HomeTeam', 'AwayTeam', 'FTR', 'FTHG', 'FTAG']]
epl_detail_1415 = pd.read_csv('./Data/epl15.csv')[['HomeTeam', 'AwayTeam', 'FTR', 'FTHG', 'FTAG']]
epl_detail_1516 = pd.read_csv('./Data/epl16.csv')[['HomeTeam', 'AwayTeam', 'FTR', 'FTHG', 'FTAG']]
epl_detail_1617 = pd.read_csv('./Data/epl17.csv')[['HomeTeam', 'AwayTeam', 'FTR', 'FTHG', 'FTAG']]
epl_detail_1718 = pd.read_csv('./Data/epl18.csv')[['HomeTeam', 'AwayTeam', 'FTR', 'FTHG', 'FTAG']]
epl_detail_1819 = pd.read_csv('./Data/epl19.csv')[['HomeTeam', 'AwayTeam', 'FTR', 'FTHG', 'FTAG']]

fixture = [epl_detail_1415, epl_detail_1516, epl_detail_1617, epl_detail_1718, epl_detail_1819]

<a id='PD'></a>
### Poisson Distribution
Poisson process, which is essentially a way to model random events at a known rate, we generate two Poisson distributions around those scores. Those give us the likelihood that each team will score no goals, one goal, two goals, etc. (Source:[How Our 2018 World Cup Predictions Work (FiveThirtyEight)](https://fivethirtyeight.com/features/how-our-2018-world-cup-predictions-work/))

In [7]:
def result_percentage(dataframe, hometeam, awayteam):
    '''
    returns array of size 2.
    list of percentage of hometeam win/away win/draw
    dataframe of percentage of how many goals each team scores in 90 minutes (min: 0, max: 5)
    '''
    home_avg = dataframe['HGF'].sum()/380
    away_avg = dataframe['HGA'].sum()/380
    
    home_score = float(dataframe[dataframe['Team'] == hometeam]['H_Att']) * float(dataframe[dataframe['Team'] == awayteam]['A_Def']) * home_avg
    away_score = float(dataframe[dataframe['Team'] == awayteam]['A_Att']) * float(dataframe[dataframe['Team'] == hometeam]['H_Def']) * away_avg

    score = []
    # maximum score for a team is 5
    for goals in range(0, 6):
        scores = {}
        scores['Home'] = (poisson.pmf(goals, home_score)) # Hometeam score
        scores['Away'] = (poisson.pmf(goals, away_score)) # away score

        if len(scores) == 2:
                    score.append(scores)

    score = pd.DataFrame(score, columns=(['Home', 'Away']))

    # % of home team winning
    # home score > away score
    # home[1] * away[0]
    # home[2] * away[0] + home[2] * away[1]
    # home[3] * away[0] + home[3] * away[1] + home[3] * away[2]
    # home[4] * away[0] + home[4] * away[1] + home[4] * away[2] + home[4] * away[3]
    # home[5] * away[0] + home[5] * away[1] + home[5] * away[2] + home[5] * away[3]+  home[5] * away[4]
    home_w = 0
    away_w = 0
    draw = 0
    result = []
    for home in range(1, len(score)):
        for away in range(0, home):
            home_w += (score['Home'][home] * score['Away'][away])
    result.append(home_w)

    for away in range(1, len(score)):
        for home in range(0, away):
            away_w += (score['Home'][home] * score['Away'][away])
    result.append(away_w)

    for home in range(0, len(score)):
        away = home
        draw += (score['Home'][home] * score['Away'][away])
    result.append(draw)

    return result, score

In [15]:
# Percentage of the number goals in 17/18 Arsenal(Home) vs Chelsea(Away)
mat = result_percentage(table_17, 'Arsenal', 'Chelsea')[1]

In [16]:
# 6 x 6 Matrix form
result = []
for i in mat['Home']:
    for j in mat['Away']:
        result.append(round(i * j, 4))
result = np.reshape(result, (6,6))
df_ = pd.DataFrame(result, index=range(0,6), columns=('0', '1', '2', '3', '4', '5'))
df_.index.names = ['Home']
df_.columns.names = ['Away']

In [17]:
# Total Probability of W/D/L
temp = pd.DataFrame(result_percentage(table_17, 'Arsenal', 'Chelsea')[0], index=('Home Win', 'Away Win', 'Draw')).T

In [18]:
mat

       Home      Away
0  0.116639  0.213280
1  0.250619  0.329550
2  0.269249  0.254601
3  0.192842  0.131132
4  0.103589  0.050655
5  0.044516  0.015654

In [19]:
df_

Away       0       1       2       3       4       5
Home
0     0.0249  0.0384  0.0297  0.0153  0.0059  0.0018
1     0.0535  0.0826  0.0638  0.0329  0.0127  0.0039
2     0.0574  0.0887  0.0686  0.0353  0.0136  0.0042
3     0.0411  0.0636  0.0491  0.0253  0.0098  0.0030
4     0.0221  0.0341  0.0264  0.0136  0.0052  0.0016
5     0.0095  0.0147  0.0113  0.0058  0.0023  0.0007

In [20]:
temp.rename(index={0: "Probability"})

             Home Win  Away Win      Draw
Probability  0.493166  0.272024  0.207251

In [21]:
# Getting the final result of a game
def decision(result_p):
    if result_p[2] > result_p[1] and result_p[2] > result_p[0]:
        return 'D'
    elif result_p[0] > result_p[1] and result_p[0] > result_p[2]:
        return 'H'
    elif result_p[1] > result_p[0] and result_p[1] > result_p[2]:
        return 'A'

In [22]:
# Predict each game
def predict(fixture, rating):
    for i in range(len(fixture)):
        if fixture['HomeTeam'][i] in list(rating['Team']) and fixture['AwayTeam'][i] in list(rating['Team']):
            result = result_percentage(rating, fixture['HomeTeam'][i], fixture['AwayTeam'][i])[0]
            fixture.loc[i, 'Predict'] = decision(result)
            fixture.loc[i, 'W'] = result[0]
            fixture.loc[i, 'D'] = result[2]
            fixture.loc[i, 'L'] = result[1]

    fixture.loc[:, 'Result'] = (fixture.loc[:, 'FTR'] == fixture.loc[:, 'Predict']) * 1

In [23]:
for i in range(len(fixture)):
    predict(fixture[i], table[i])

In [35]:
print("EPL 14/15 Prediction Score:", epl_detail_1415.dropna()['Result'].mean())
print("EPL 15/16 Prediction Score:", epl_detail_1516.dropna()['Result'].mean())
print("EPL 16/17 Prediction Score:", epl_detail_1617.dropna()['Result'].mean())
print("EPL 17/18 Prediction Score:", epl_detail_1718.dropna()['Result'].mean())
print("EPL 18/19 Prediction Score:", epl_detail_1819.dropna()['Result'].mean())

print("Average Score with Poisson Model:", (epl_detail_1819.dropna()['Result'].mean() + epl_detail_1415.dropna()['Result'].mean() + 
 epl_detail_1516.dropna()['Result'].mean() + epl_detail_1617.dropna()['Result'].mean() + (epl_detail_1718.dropna()['Result'].mean())) / 5)

EPL 14/15 Prediction Score: 0.5
EPL 15/16 Prediction Score: 0.4375
EPL 16/17 Prediction Score: 0.5257352941176471
EPL 17/18 Prediction Score: 0.5110294117647058
EPL 18/19 Prediction Score: 0.6046511627906976
Average Score with Poisson Model: 0.51578317373461

In [41]:
epl_detail_1819.dropna().reset_index()[['HomeTeam', 'AwayTeam', 'W', 'D', 'L', 'FTR', 'Predict', 'Result']]

,HomeTeam,AwayTeam,W,D,L,FTR,Predict,Result
0,Manchester Utd,Leicester City,0.738472,0.138564,0.072993,H,H,1
1,Huddersfield,Chelsea,0.113782,0.204240,0.667711,A,A,1
2,Newcastle Utd,Tottenham,0.203776,0.275398,0.517535,A,A,1
3,Arsenal,Manchester City,0.215050,0.203304,0.556066,A,A,1
4,Liverpool,West Ham Utd,0.758934,0.077210,0.032043,H,H,1
5,Southampton,Burnley,0.235455,0.292911,0.469577,D,A,0
6,Chelsea,Arsenal,0.583343,0.239465,0.169422,H,H,1
7,Everton,Southampton,0.512122,0.259121,0.223675,H,H,1
8,West Ham Utd,Bournemouth,0.400191,0.266698,0.329019,A,H,0
9,Burnley,Watford,0.400948,0.342053,0.256443,A,H,0
10,Manchester City,Huddersfield,0.767517,0.054555,0.016381,H,H,1
11,Crystal Palace,Liverpool,0.205620,0.182118,0.563511,A,A,1
12,Arsenal,West Ham Utd,0.632783,0.080156,0.055083,H,H,1
13,Bournemouth,Everton,0.490765,0.240297,0.259842,D,H,0
14,Southampton,Leicester City,0.268390,0.220186,0.493847,A,A,1
15,Newcastle Utd,Chelsea,0.237487,0.284269,0.475667,A,A,1
16,Watford,Crystal Palace,0.404693,0.264867,0.326104,H,H,1
17,Manchester Utd,Tottenham,0.517499,0.278438,0.201014,A,H,0
18,Chelsea,Bournemouth,0.593484,0.238557,0.160225,H,H,1
19,Crystal Palace,Southampton,0.475464,0.251087,0.266863,A,H,0
20,Everton,Huddersfield,0.616998,0.237051,0.138504,D,H,0
21,Leicester City,Liverpool,0.227772,0.210801,0.540223,A,A,1
22,Manchester City,Newcastle Utd,0.759150,0.085173,0.037333,H,H,1
23,Burnley,Manchester Utd,0.165738,0.303306,0.529226,A,A,1
24,Watford,Tottenham,0.123121,0.163428,0.667877,H,A,0
25,Bournemouth,Leicester City,0.301943,0.201339,0.459821,H,A,0
26,Huddersfield,Crystal Palace,0.292102,0.330089,0.377116,A,A,1
27,Newcastle Utd,Arsenal,0.440536,0.301866,0.256023,A,H,0
28,Tottenham,Liverpool,0.480283,0.214579,0.283161,A,H,0
29,Watford,Manchester Utd,0.141468,0.186535,0.644478,A,A,1
30,Everton,West Ham Utd,0.547575,0.206789,0.222061,A,H,0
31,Burnley,Bournemouth,0.361361,0.342467,0.295673,H,H,1
32,Crystal Palace,Newcastle Utd,0.460447,0.249778,0.282856,D,H,0
33,Leicester City,Huddersfield,0.575406,0.261873,0.158322,H,H,1
34,Liverpool,Southampton,0.784620,0.131780,0.045358,H,H,1
35,Arsenal,Everton,0.725155,0.085401,0.044803,H,H,1
36,West Ham Utd,Chelsea,0.171621,0.209591,0.601448,D,A,0
37,Arsenal,Watford,0.725937,0.105246,0.060581,H,H,1
38,Chelsea,Liverpool,0.377169,0.241799,0.371771,D,H,0
39,Huddersfield,Tottenham,0.092999,0.186551,0.701898,A,A,1
40,Newcastle Utd,Leicester City,0.407434,0.256225,0.330635,A,H,0
41,West Ham Utd,Manchester Utd,0.158151,0.218098,0.610831,H,A,0
42,Bournemouth,Crystal Palace,0.400076,0.270569,0.325724,H,H,1

In [28]:
test = pd.concat([epl_detail_1415.dropna(), epl_detail_1516.dropna(), epl_detail_1617.dropna(), epl_detail_1718.dropna()], ignore_index=True)
test

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Predict,W,D,L,Result
0,Arsenal,Crystal Palace,H,2,1,H,0.670188,0.238443,0.085600,1
1,Manchester Utd,Swansea City,A,1,2,H,0.460424,0.266210,0.269164,0
2,Stoke City,Aston Villa,A,0,1,H,0.573491,0.258294,0.163386,0
3,West Bromwich,Sunderland,D,2,2,H,0.399652,0.260440,0.334923,0
4,West Ham Utd,Tottenham,A,0,1,A,0.308918,0.253250,0.431572,1
5,Liverpool,Southampton,H,2,1,H,0.632460,0.195279,0.149472,1
6,Newcastle Utd,Manchester City,A,0,2,A,0.123377,0.164193,0.667755,1
7,Aston Villa,Newcastle Utd,D,0,0,A,0.331225,0.266375,0.398268,0
8,Crystal Palace,West Ham Utd,A,1,3,D,0.320397,0.354387,0.324857,0
9,Everton,Arsenal,D,2,2,H,0.497412,0.216091,0.266437,0
10,Southampton,West Bromwich,D,0,0,H,0.548428,0.230475,0.210024,0
11,Hull City,Stoke City,D,1,1,H,0.442661,0.292460,0.262869,0
12,Sunderland,Manchester Utd,D,1,1,A,0.125329,0.185976,0.664012,0
13,Manchester City,Liverpool,H,3,1,H,0.615935,0.121412,0.110575,1
14,Everton,Chelsea,A,3,6,A,0.317810,0.282205,0.397424,1
15,Manchester City,Stoke City,A,0,1,H,0.729113,0.054073,0.020184,0
16,Newcastle Utd,Crystal Palace,D,3,3,H,0.354565,0.309747,0.334538,0
17,Swansea City,West Bromwich,H,3,0,H,0.528485,0.226526,0.231825,1
18,West Ham Utd,Southampton,A,1,3,A,0.284418,0.276518,0.435973,1
19,Aston Villa,Hull City,H,2,1,H,0.368559,0.273271,0.354847,1
20,Tottenham,Liverpool,A,0,3,A,0.240511,0.185004,0.520933,1
21,Arsenal,Manchester City,D,2,2,H,0.489881,0.257870,0.246916,0
22,Chelsea,Swansea City,H,4,2,H,0.722252,0.175818,0.080643,1
23,Liverpool,Aston Villa,A,0,1,H,0.745575,0.112859,0.059025,0
24,Southampton,Newcastle Utd,H,4,0,H,0.523901,0.236045,0.230192,1
25,Sunderland,Tottenham,D,2,2,A,0.250092,0.253007,0.490749,0
26,West Bromwich,Everton,A,0,2,A,0.220352,0.268805,0.506933,1
27,Hull City,West Ham Utd,D,2,2,H,0.367201,0.350392,0.281989,0
28,Aston Villa,Arsenal,A,0,3,A,0.196504,0.202714,0.576858,1
29,Newcastle Utd,Hull City,D,2,2,H,0.392403,0.271674,0.332420,0
...,...,...,...,...,...,...,...,...,...,...
1058,Leicester City,Southampton,D,0,0,H,0.386416,0.250901,0.355879,0
1059,Watford,Crystal Palace,D,0,0,A,0.361141,0.226761,0.396417,0
1060,West Bromwich,Liverpool,D,2,2,A,0.254794,0.242363,0.494357,0
1061,Arsenal,West Ham Utd,H,4,1,H,0.618564,0.192053,0.162247,1
1062,Manchester City,Swansea City,H,5,0,H,0.704705,0.167960,0.096734,1
1063,Stoke City,Burnley,D,1,1,H,0.544350,0.267441,0.184231,0
1064,Crystal Palace,Leicester City,H,5,0,H,0.508225,0.251982,0.233542,1
1065,Liverpool,Stoke City,D,0,0,H,0.723198,0.150674,0.084206,0
1066,Southampton,Bournemouth,H,2,1,H,0.388507,0.299430,0.310501,1
1067,Swansea City,Chelsea,A,0,1,A,0.101256,0.167093,0.698814,1
1068,Manchester Utd,Arsenal,H,2,1,H,0.409879,0.280719,0.306708,1
1069,West Ham Utd,Manchester City,A,1,4,A,0.057032,0.108265,0.743426,1
1070,Tottenham,Watford,H,2,0,H,0.810761,0.068993,0.017250,1
1071,Bournemouth,Swansea City,H,1,0,H,0.572938,0.201017,0.200362,1
1072,Everton,Southampton,D,1,1,H,0.611197,0.211431,0.161678,0
1073,Leicester City,West Ham Utd,A,0,2,H,0.410861,0.226171,0.347050,0
1074,Stoke City,Crystal Palace,A,1,2,H,0.405176,0.241445,0.344045,0
1075,West Bromwich,Tottenham,H,1,0,A,0.142256,0.207016,0.634829,0
1076,Arsenal,Burnley,H,5,0,H,0.763145,0.145109,0.058007,1
1077,Chelsea,Liverpool,H,1,0,H,0.568546,0.195237,0.204723,1
1078,Swansea City,Southampton,A,0,1,A,0.254877,0.225130,0.505476,1
1079,Leicester City,Arsenal,H,3,1,A,0.258600,0.204811,0.507817,0
1080,West Ham Utd,Manchester Utd,D,0,0,A,0.093298,0.191457,0.698680,0
1081,Burnley,Bournemouth,A,1,2,H,0.552213,0.238345,0.200765,0
1082,Crystal Palace,West Bromwich,H,2,0,H,0.424529,0.293090,0.280449,1
1083,Manchester Utd,Watford,H,1,0,H,0.696633,0.213229,0.080798,1
1084,Southampton,Manchester City,A,0,1,A,0.103963,0.187994,0.688361,1
1085,Swansea City,Stoke City,A,1,2,H,0.408077,0.250284,0.334711,0
1086,Tottenham,Leicester City,H,5,4,H,0.807216,0.077109,0.021640,1
1087,West Ham Utd,Everton,H,3,1,A,0.242909,0.268813,0.484365,0

In [120]:
epl_detail_1819.dropna().head()

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,Predict,W,D,L,Result
0,Manchester Utd,Leicester City,H,2,1,H,0.738472,0.138564,0.072993,1
3,Huddersfield,Chelsea,A,0,3,A,0.113782,0.204240,0.667711,1
4,Newcastle Utd,Tottenham,A,1,2,A,0.203776,0.275398,0.517535,1
7,Arsenal,Manchester City,A,0,2,A,0.215050,0.203304,0.556066,1
8,Liverpool,West Ham Utd,H,4,0,H,0.758934,0.077210,0.032043,1

In [158]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

knn = KNeighborsClassifier(n_neighbors=5)
rf = RandomForestClassifier()
lr = LogisticRegression()
X = test.drop(columns=(['HomeTeam', 'AwayTeam', 'FTR','Result','Predict', 'FTHG', 'FTAG']))
y = test['FTR']
knn.fit(X, y)
rf.fit(X, y)
lr.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [159]:
X.columns

Index(['W', 'D', 'L'], dtype='object')

In [164]:
predict_X = epl_detail_1819.drop(columns=(['HomeTeam', 'AwayTeam', 'FTR','Result','Predict','FTHG','FTAG'])).dropna()
compare = epl_detail_1819.dropna()[['HomeTeam', 'AwayTeam']]
compare = compare.reindex(columns=compare.columns.tolist() + ['Actual', 'Predict'])
compare['Actual'] = epl_detail_1819['FTR']
compare['Predict'] = rf.predict(predict_X)

In [165]:
compare.loc[:, 'Result'] = (compare.loc[:, 'Actual'] == compare.loc[:, 'Predict']) * 1

In [166]:
compare

           HomeTeam         AwayTeam Actual Predict  Result
0    Manchester Utd   Leicester City      H       H       1
3      Huddersfield          Chelsea      A       A       1
4     Newcastle Utd        Tottenham      A       A       1
7           Arsenal  Manchester City      A       D       0
8         Liverpool     West Ham Utd      H       H       1
9       Southampton          Burnley      D       D       1
11          Chelsea          Arsenal      H       H       1
12          Everton      Southampton      H       H       1
15     West Ham Utd      Bournemouth      A       H       0
17          Burnley          Watford      A       H       0
18  Manchester City     Huddersfield      H       H       1
19   Crystal Palace        Liverpool      A       A       1
20          Arsenal     West Ham Utd      H       A       0
21      Bournemouth          Everton      D       H       0
24      Southampton   Leicester City      A       A       1
27    Newcastle Utd          Chelsea      A       D       0
28          Watford   Crystal Palace      H       H       1
29   Manchester Utd        Tottenham      A       H       0
31          Chelsea      Bournemouth      H       H       1
32   Crystal Palace      Southampton      A       A       1
33          Everton     Huddersfield      D       H       0
34   Leicester City        Liverpool      A       A       1
35  Manchester City    Newcastle Utd      H       H       1
37          Burnley   Manchester Utd      A       A       1
39          Watford        Tottenham      H       A       0
40      Bournemouth   Leicester City      H       H       1
42     Huddersfield   Crystal Palace      A       H       0
44    Newcastle Utd          Arsenal      A       A       1
45        Tottenham        Liverpool      A       D       0
46          Watford   Manchester Utd      A       H       0
47          Everton     West Ham Utd      A       H       0
51          Burnley      Bournemouth      H       D       0
53   Crystal Palace    Newcastle Utd      D       D       1
55   Leicester City     Huddersfield      H       A       0
56        Liverpool      Southampton      H       H       1
58          Arsenal          Everton      H       A       0
59     West Ham Utd          Chelsea      D       A       0
60          Arsenal          Watford      H       H       1
61          Chelsea        Liverpool      D       A       0
63     Huddersfield        Tottenham      A       A       1
65    Newcastle Utd   Leicester City      A       H       0
66     West Ham Utd   Manchester Utd      H       A       0
69      Bournemouth   Crystal Palace      H       D       0

In [167]:
compare['Result'].mean()

0.5116279069767442