In [11]:
# import libaries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import time
import matplotlib.pyplot as plt
from scipy.stats import poisson

### Step 1: Get EPL Team Overall Stats from web
Get EPL teams' stats using database in www.pesmaster.com.
The result dictionary will have 6 seasons' stats from 13/14 ~ 18/19 EPL.

In [12]:
# list of the teams (12/13 ~ 18/19)
# data from three different sources use different names for teams. 
# manually making a dictionary to rename teams
team_name = {
            'Arsenal FC': 'Arsenal',
            'Burnley FC': 'Burnley',
            'Liverpool FC': 'Liverpool',
            'Everton FC': 'Everton',
            'Fulham FC': 'Fulham',
            'Southampton FC': 'Southampton',
            'Chelsea FC': 'Chelsea',
            'West Bromwich Albion': 'West Bromwich',
            'Manchester United': 'Manchester Utd',
            'Man United': 'Manchester Utd',
            'Man City': 'Manchester City', 
            'Newcastle': 'Newcastle Utd',
            'Newcastle United': 'Newcastle Utd',
            'West Ham United': 'West Ham Utd', 
            'Tottenham Hotspur': 'Tottenham',
            'Queens Park Rangers': 'QP Rangers',
            'Watford FC': 'Watford',
            'AFC Bournemouth': 'Bournemouth',
            'Sunderland AFC': 'Sunderland',
            'Middlesbrough FC': 'Middlesbrough',
            'Brighton & Hove Albion': 'Brighton & Hove',
            'Huddersfield Town': 'Huddersfield',
            'QPR': 'QP Rangers',
            'Cardiff': 'Cardiff City',
            'Hull': 'Hull City',
            'Norwich': 'Norwich City',
            'Stoke': 'Stoke City',
            'Swansea': 'Swansea City',
            'West Brom': 'West Bromwich',
            'West Ham': 'West Ham Utd',
            'Reading FC': 'Reading',
            'Leicester': 'Leicester City'
            }

In [13]:
teams_seasons = []
for year in range(2014, 2020):
    url = 'https://www.pesmaster.com/english-league/pes-' + str(year) + '/league/9/'
    res = requests.get(url, headers={'User-agent': 'slsl'})
    
    if res.status_code != 200:
        print('Status not 200', res.status_code)
        break

    soup = BeautifulSoup(res.content, 'lxml')
    table = soup.find("table", {"id" : "search-result-table"})
    tr = table.find_all('tr')
    
    teams = []

    for i in range(1,(len(tr))):
            result = {}

            td = tr[i].find_all('td')
            
            if td:
                result['Team'] = td[0].text
                result['Ovr'] = td[1].text
                result['Def'] = td[2].text
                result['Mid'] = td[3].text
                result['Fwd'] = td[4].text
                result['Phy'] = td[5].text
                result['Spd'] = (td[6].text)
                result['Season'] = year - 2000

            if len(result) == 8:
                teams.append(result)
                
    time.sleep(3)
    
    teams_df = pd.DataFrame(teams, columns=(['Season', 'Team', 'Ovr', 'Def', 'Mid', 'Fwd', 'Phy', 'Spd']))
    teams_df = teams_df.set_index('Team')
    teams_df.rename(index=team_name, inplace=True)

    # put all seasons into a list
    teams_seasons.append(teams_df)
    
# make a list as a dictionary that has keys = season (2013, 2014, ..., 2017)
teams_dict = {str(2014 + i) : teams_seasons[i] for i in range(0,6)}

In [18]:
teams_dict['2019'].head()
pes_df = pd.concat([teams_dict['2014'], teams_dict['2015'], teams_dict['2016'], teams_dict['2017'], teams_dict['2018'], teams_dict['2019']])
pes_df.to_csv('./Data/PES_Data.csv')

In [15]:
for season in range(2014, 2020):
    teams_dict[str(season)].to_csv('./Data/PES' + str(season-2000) + '.csv')

In [6]:
# list of the teams (18/19)
pes_team_dict = {
            'ARSENAL': 'Arsenal',
            'LIVERPOOL': 'Liverpool',
            'SOUTH WALES': 'Cardiff City',
            'MAN BLUE': 'Manchester City',
            'EAST DORSETSHIRE': 'Bournemouth',
            'WEST LONDON WHITE': 'Fulham',
            'EAST MIDLANDS': 'Leicester City',
            'SOUTH NORWOOD': 'Crystal Palace',
            'TYNESIDE': 'Newcastle Utd',
            'NORTH EAST LONDON': 'Tottenham',
            'EAST LONDON': 'West Ham Utd',
            'HAMPSHIRE RED': 'Southampton',
            'LANCASHIRE CLARET': 'Burnley',
            'HERTFORDSHIRE': 'Watford',
            'MAN RED': 'Manchester Utd',
            'EAST SUSSEX': 'Brighton & Hove',
            'LONDON FC': 'Chelsea',
            'MERSEYSIDE BLUE': 'Everton',
            'WM GOLD':'Wolverhampton',
            'WEST YORKSHIRE TOWN': 'Huddersfield',
            'WEST GLAMORGAN CITY': 'Swansea City'}

In [7]:
players = []

for page in range(1,18):
    url = 'http://pesdb.net/pes2019/?league=1&sort=club_team&order=a&page=' + str(page)
    res = requests.get(url, headers={'User-agent': 'slsl'})
    
    if res.status_code != 200:
        print('Status not 200', res.status_code)
        break

    soup = BeautifulSoup(res.content, 'lxml')
    table = soup.find("table", {"class" : "players"})
    tr = table.find_all('tr')

    for i in range(1,(len(tr))):
            result = {}

            td = tr[i].find_all('td')
            
            if td:
                result['Name'] = td[1].text
                result['Team'] = td[2].text
                result['Rating'] = (td[9].text)

            if len(result) == 3:
                players.append(result)
                
    time.sleep(3)
    
players_df = pd.DataFrame(players, columns=(['Name', 'Team', 'Rating']))
final_player = players_df.set_index('Team')
final_player.rename(index=pes_team_dict, inplace=True)

In [8]:
final_player.head()

                  Name Rating
Team
Arsenal  P. AUBAMEYANG     88
Arsenal        M. ÖZIL     87
Arsenal  H. MKHITARYAN     85
Arsenal   A. LACAZETTE     85
Arsenal        B. LENO     85

### Step 2: Get EPL Tables of Last 5 Seasons (2013~2018)

In [16]:
season_tables = []

for year in range(2013, 2019):
    # load data from soccerstats.com by years (2013 will mean 12/13)
    table_url = 'https://www.soccerstats.com/widetable.asp?league=england_' + str(year)
    res = requests.get(table_url, headers={'User-agent': 'slsl'})

    if res.status_code != 200:
        print('Status not 200', res.status_code)
        break

    soup = BeautifulSoup(res.content, 'lxml')
    
    # get a table
    table = soup.find('table', {'id': 'btable'})
    tr = table.find_all('tr', {'class': 'trow8'})

    final_table = []

    for i in range(0,(len(tr))):
        result = {}

        td = tr[i].find_all('td')

        if td:
            result['Team'] = td[1].text.strip()     # team name
            result['P'] = int(td[2].text)           # number of games
            result['W'] = int(td[3].text)           # wins
            result['D'] = int(td[4].text)           # draws
            result['L'] = int(td[5].text)           # loses
            result['HW'] = int(td[13].text)         # home wins
            result['HGF'] = int(td[16].text)        # home goals scored
            result['HGA'] = int(td[17].text)        # home goals conceded
            result['AGF'] = int(td[27].text)        # away goals scored
            result['AGA'] = int(td[28].text)        # away goals conceded
            result['AW'] = int(td[24].text)         # away wins
            result['GF'] = int(td[6].text)          # goals for
            result['GA'] = int(td[7].text)          # goals allowed
            result['PTS'] = int(td[9].text)         # total points end of the season
            result['Season'] = year - 2000

            # put them into one dictionary
            if len(result) == 15:
                final_table.append(result)

    time.sleep(3)

    # put dictionary into a pandas dataframe with column names
    final_table = pd.DataFrame(final_table, columns=(['Season', 'Team', 'P', 'W', 'D', 'L', 'GF', 'GA', 'HW', 'HGF', 'HGA', 'AW', 'AGF', 'AGA', 'PTS']))
    
    # Create features to generate poisson distribution
    final_table['H_Att'] = final_table['HGF'] / 19 / (final_table['HGF'].sum() / 380)
    final_table['A_Att'] = final_table['AGF'] / 19 / (final_table['AGF'].sum() / 380)
    final_table['H_Def'] = final_table['HGA'] / 19 / (final_table['HGA'].sum() / 380) #* table_13['DIS'] * table_13['CS'] / 38
    final_table['A_Def'] = final_table['AGA'] / 19 / (final_table['AGA'].sum() / 380) #* table_13['DIS'] * table_13['CS'] / 38
    
    # change index as a team names
    final_table = final_table.set_index('Team')
    # put all seasons into a list
    season_tables.append(final_table)

# make a list as a dictionary that has keys = season (2013, 2014, ..., 2017)
dict_seasons = {str(2012 + i) : season_tables[i] for i in range(0,6)}

In [30]:
dict_seasons['2012'] # EPL Season 2012/2013

,Season,P,W,D,L,GF,GA,HW,HGF,HGA,AW,AGF,AGA,PTS,H_Att,A_Att,H_Def,A_Def
Team,,,,,,,,,,,,,,,,,,
Manchester Utd,13,38,28,5,5,86,43,16,45,19,12,41,24,89,1.520270,1.740977,0.806794,0.810811
Manchester City,13,38,23,9,6,66,34,14,41,15,9,25,19,78,1.385135,1.061571,0.636943,0.641892
Chelsea,13,38,22,9,7,75,39,12,41,16,10,34,23,75,1.385135,1.443737,0.679406,0.777027
Arsenal,13,38,21,10,7,72,37,11,47,23,10,25,14,73,1.587838,1.061571,0.976645,0.472973
Tottenham,13,38,21,9,8,66,46,11,29,18,10,37,28,72,0.979730,1.571125,0.764331,0.945946
Everton,13,38,16,15,7,55,40,12,33,17,4,22,23,63,1.114865,0.934183,0.721868,0.777027
Liverpool,13,38,16,13,9,71,43,9,33,16,7,38,27,61,1.114865,1.613588,0.679406,0.912162
West Bromwich,13,38,14,7,17,53,57,9,32,25,5,21,32,49,1.081081,0.891720,1.061571,1.081081
Swansea City,13,38,11,13,14,47,51,6,28,26,5,19,25,46,0.945946,0.806794,1.104034,0.844595
West Ham Utd,13,38,12,10,16,45,53,9,34,22,3,11,31,46,1.148649,0.467091,0.934183,1.047297
Norwich City,13,38,10,14,14,41,58,8,25,20,2,16,38,44,0.844595,0.679406,0.849257,1.283784
Fulham,13,38,11,10,17,50,60,7,28,30,4,22,30,43,0.945946,0.934183,1.273885,1.013514
Stoke City,13,38,9,15,14,34,45,7,21,22,2,13,23,42,0.709459,0.552017,0.934183,0.777027
Southampton,13,38,9,14,15,49,60,6,26,24,3,23,36,41,0.878378,0.976645,1.019108,1.216216
Aston Villa,13,38,10,11,17,47,69,5,23,28,5,24,41,41,0.777027,1.019108,1.188960,1.385135
Newcastle Utd,13,38,11,8,19,45,68,9,24,31,2,21,37,41,0.810811,0.891720,1.316348,1.250000
Sunderland,13,38,9,12,17,41,54,5,20,19,4,21,35,39,0.675676,0.891720,0.806794,1.182432
Wigan Athletic,13,38,9,9,20,47,73,4,26,39,5,21,34,36,0.878378,0.891720,1.656051,1.148649
Reading,13,38,6,10,22,43,73,4,23,33,2,20,40,28,0.777027,0.849257,1.401274,1.351351
QP Rangers,13,38,4,13,21,30,60,2,13,28,2,17,32,25,0.439189,0.721868,1.188960,1.081081

### Step 3: Getting Cleans Sheets

In [24]:
cs_tables = []
seasons = ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18']
for year in seasons:
    #load data from soccerstats.com by years (2013 will mean 13/14)
    table_url = 'https://www.sportsmole.co.uk/football/premier-league/' + year + '/best-defence.html'
    res = requests.get(table_url, headers={'User-agent': 'slee'})
   
    if res.status_code != 200:
        print('Status not 200', res.status_code)
        break
        
    soup = BeautifulSoup(res.content, 'lxml')

    # get a table
    table = soup.find('table', {'class':'leaguetable full'})
    tr = table.find_all('tr')
    cs_table = []

    for i in range(1,(len(tr))):
        result = {}

        td = tr[i].find_all('td')

        if td:
            result['Team'] = td[1].text.strip()          # goals allowed
            result['CS'] = int(td[4].text)         # total points end of the season

            # put them into one dictionary
            if len(result) == 2:
                cs_table.append(result)

    time.sleep(3)

    # put dictionary into a pandas dataframe with column names
    cs_table = pd.DataFrame(cs_table, columns=(['Team', 'CS']))
    # change index as a team names
    cs_table = cs_table.set_index('Team')
    cs_table.rename(index=team_name, inplace=True)
    # put all seasons into a list
    cs_tables.append(cs_table)

# make a list as a dictionary that has keys = season (2013, 2014, ..., 2017)
dict_cs = {str(2012 + i) : cs_tables[i] for i in range(0,6)}

In [25]:
dict_cs['2012']

                 CS
Team
Manchester City  18
Arsenal          14
Chelsea          14
Everton          11
Liverpool        16
Manchester Utd   13
Stoke City       12
Tottenham         9
Swansea City     10
West Ham Utd     11
Sunderland       11
West Bromwich     8
Norwich City     10
Fulham            8
QP Rangers        7
Southampton       7
Newcastle Utd     6
Aston Villa       5
Reading           5
Wigan Athletic    5

### Step 4: Getting 'Discipline' Points

In [26]:
dis_tables = []

for year in range(2012, 2018):
    # load data from transfermarkt.co.uk by years (2013 means 13/14)
    table_url = 'https://www.transfermarkt.co.uk/premier-league/fairnesstabelle/wettbewerb/GB1/saison_id/' + str(year) + '/plus/1'
    res = requests.get(table_url, headers={'User-agent': 'slsl'})

    if res.status_code != 200:
        print('Status not 200', res.status_code)

    soup = BeautifulSoup(res.content, 'lxml')

    # get a table
    table = soup.find('table', {'class': 'items'})
    tbody = table.find('tbody')
    tr = tbody.find_all('tr')

    dis_table = []

    for i in range(0,(len(tr))):
        result = {}

        td = tr[i].find_all('td')

        if td:
            result['Team'] = td[2].text.strip()     # team name
            result['P'] = int(td[3].text)           # games played
            result['YC'] = int(td[5].text)          # total number of yellow cards during the season
            result['RC'] = int(td[8].text)          # red cards
            # DIS = (0.5 * YC + 2 * RC) / P
            # higher 'DIS', the team is more likely to have cards during a match
            result['DIS'] = (int(td[5].text) * 0.5 + int(td[8].text) * 2) / int(td[3].text)    

            # put them into one dictionary
            if len(result) == 5:
                dis_table.append(result)

    time.sleep(3)

    # put dictionary into a pandas dataframe with column names
    dis_table = pd.DataFrame(dis_table, columns=(['Team', 'P', 'YC', 'RC', 'DIS']))
    # change index as a team names
    dis_table = dis_table.set_index('Team')
    dis_table.rename(index=team_name, inplace=True)
    # put all seasons into a list
    dis_tables.append(dis_table)
    
# make a list as a dictionary that has keys = season (2012, 2013, 2014, ..., 2017)
dict_dis = {str(2012 + i) : dis_tables[i] for i in range(0,6)}

In [27]:
dict_dis['2012']

                  P  YC  RC       DIS
Team
Reading          38  45   1  0.644737
Southampton      38  43   2  0.671053
Chelsea          38  49   3  0.802632
Arsenal          38  40   5  0.789474
Manchester Utd   38  57   1  0.802632
Fulham           38  48   3  0.789474
Liverpool        38  54   2  0.815789
Tottenham        38  54   2  0.815789
Swansea City     38  56   2  0.842105
Norwich City     38  60   1  0.842105
Everton          38  57   3  0.907895
QP Rangers       38  58   3  0.921053
Sunderland       38  60   3  0.947368
Wigan Athletic   38  66   2  0.973684
Manchester City  38  63   3  0.986842
West Ham Utd     38  74   1  1.026316
Aston Villa      38  70   3  1.078947
West Bromwich    38  62   4  1.026316
Newcastle Utd    38  69   4  1.118421
Stoke City       38  73   4  1.171053

### Step 4: Merge Standing and Discipline

In [28]:
# merge dict_seasons, dict_dis
temp_pd = []
for year in range(2012, 2018):
    temp_pd.append(pd.merge(dict_seasons[str(year)], dict_dis[str(year)][['YC', 'RC', 'DIS']], left_index=True, right_index=True, how='outer'))
dict_past_seasons = {str(2012 + i) : temp_pd[i] for i in range(0,6)}

new_temp = []

for year in range(2012, 2018):
    new_temp.append(pd.merge(dict_past_seasons[str(year)], dict_cs[str(year)][['CS']], left_index=True, right_index=True, how='outer'))

dict_final_seasons = {str(2012 + i) : new_temp[i] for i in range(0,6)}

len(teams_dict)

6

In [29]:
dict_final_seasons['2012']

,Season,P,W,D,L,GF,GA,HW,HGF,HGA,...,AGA,PTS,H_Att,A_Att,H_Def,A_Def,YC,RC,DIS,CS
Team,,,,,,,,,,,,,,,,,,,,,
Arsenal,13,38,21,10,7,72,37,11,47,23,...,14,73,1.587838,1.061571,0.976645,0.472973,40,5,0.789474,14
Aston Villa,13,38,10,11,17,47,69,5,23,28,...,41,41,0.777027,1.019108,1.188960,1.385135,70,3,1.078947,5
Chelsea,13,38,22,9,7,75,39,12,41,16,...,23,75,1.385135,1.443737,0.679406,0.777027,49,3,0.802632,14
Everton,13,38,16,15,7,55,40,12,33,17,...,23,63,1.114865,0.934183,0.721868,0.777027,57,3,0.907895,11
Fulham,13,38,11,10,17,50,60,7,28,30,...,30,43,0.945946,0.934183,1.273885,1.013514,48,3,0.789474,8
Liverpool,13,38,16,13,9,71,43,9,33,16,...,27,61,1.114865,1.613588,0.679406,0.912162,54,2,0.815789,16
Manchester City,13,38,23,9,6,66,34,14,41,15,...,19,78,1.385135,1.061571,0.636943,0.641892,63,3,0.986842,18
Manchester Utd,13,38,28,5,5,86,43,16,45,19,...,24,89,1.520270,1.740977,0.806794,0.810811,57,1,0.802632,13
Newcastle Utd,13,38,11,8,19,45,68,9,24,31,...,37,41,0.810811,0.891720,1.316348,1.250000,69,4,1.118421,6
Norwich City,13,38,10,14,14,41,58,8,25,20,...,38,44,0.844595,0.679406,0.849257,1.283784,60,1,0.842105,10
QP Rangers,13,38,4,13,21,30,60,2,13,28,...,32,25,0.439189,0.721868,1.188960,1.081081,58,3,0.921053,7
Reading,13,38,6,10,22,43,73,4,23,33,...,40,28,0.777027,0.849257,1.401274,1.351351,45,1,0.644737,5
Southampton,13,38,9,14,15,49,60,6,26,24,...,36,41,0.878378,0.976645,1.019108,1.216216,43,2,0.671053,7
Stoke City,13,38,9,15,14,34,45,7,21,22,...,23,42,0.709459,0.552017,0.934183,0.777027,73,4,1.171053,12
Sunderland,13,38,9,12,17,41,54,5,20,19,...,35,39,0.675676,0.891720,0.806794,1.182432,60,3,0.947368,11
Swansea City,13,38,11,13,14,47,51,6,28,26,...,25,46,0.945946,0.806794,1.104034,0.844595,56,2,0.842105,10
Tottenham,13,38,21,9,8,66,46,11,29,18,...,28,72,0.979730,1.571125,0.764331,0.945946,54,2,0.815789,9
West Bromwich,13,38,14,7,17,53,57,9,32,25,...,32,49,1.081081,0.891720,1.061571,1.081081,62,4,1.026316,8
West Ham Utd,13,38,12,10,16,45,53,9,34,22,...,31,46,1.148649,0.467091,0.934183,1.047297,74,1,1.026316,11
Wigan Athletic,13,38,9,9,20,47,73,4,26,39,...,34,36,0.878378,0.891720,1.656051,1.148649,66,2,0.973684,5

In [17]:
for season in range(2012, 2018):
    dict_final_seasons[str(season)].to_csv('./Data/epl_table_' + str(season-2000) + str(season-1999) + '.csv')

In [31]:
EPL_Table = pd.concat([dict_final_seasons['2012'], dict_final_seasons['2013'], dict_final_seasons['2014'], dict_final_seasons['2015'], dict_final_seasons['2016'], dict_final_seasons['2017']])
EPL_Table.to_csv('./Data/EPL_Table.csv')

In [32]:
EPL_Table

,Season,P,W,D,L,GF,GA,HW,HGF,HGA,...,AGA,PTS,H_Att,A_Att,H_Def,A_Def,YC,RC,DIS,CS
Team,,,,,,,,,,,,,,,,,,,,,
Arsenal,13,38,21,10,7,72,37,11,47,23,...,14,73,1.587838,1.061571,0.976645,0.472973,40,5,0.789474,14
Aston Villa,13,38,10,11,17,47,69,5,23,28,...,41,41,0.777027,1.019108,1.188960,1.385135,70,3,1.078947,5
Chelsea,13,38,22,9,7,75,39,12,41,16,...,23,75,1.385135,1.443737,0.679406,0.777027,49,3,0.802632,14
Everton,13,38,16,15,7,55,40,12,33,17,...,23,63,1.114865,0.934183,0.721868,0.777027,57,3,0.907895,11
Fulham,13,38,11,10,17,50,60,7,28,30,...,30,43,0.945946,0.934183,1.273885,1.013514,48,3,0.789474,8
Liverpool,13,38,16,13,9,71,43,9,33,16,...,27,61,1.114865,1.613588,0.679406,0.912162,54,2,0.815789,16
Manchester City,13,38,23,9,6,66,34,14,41,15,...,19,78,1.385135,1.061571,0.636943,0.641892,63,3,0.986842,18
Manchester Utd,13,38,28,5,5,86,43,16,45,19,...,24,89,1.520270,1.740977,0.806794,0.810811,57,1,0.802632,13
Newcastle Utd,13,38,11,8,19,45,68,9,24,31,...,37,41,0.810811,0.891720,1.316348,1.250000,69,4,1.118421,6
Norwich City,13,38,10,14,14,41,58,8,25,20,...,38,44,0.844595,0.679406,0.849257,1.283784,60,1,0.842105,10
QP Rangers,13,38,4,13,21,30,60,2,13,28,...,32,25,0.439189,0.721868,1.188960,1.081081,58,3,0.921053,7
Reading,13,38,6,10,22,43,73,4,23,33,...,40,28,0.777027,0.849257,1.401274,1.351351,45,1,0.644737,5
Southampton,13,38,9,14,15,49,60,6,26,24,...,36,41,0.878378,0.976645,1.019108,1.216216,43,2,0.671053,7
Stoke City,13,38,9,15,14,34,45,7,21,22,...,23,42,0.709459,0.552017,0.934183,0.777027,73,4,1.171053,12
Sunderland,13,38,9,12,17,41,54,5,20,19,...,35,39,0.675676,0.891720,0.806794,1.182432,60,3,0.947368,11
Swansea City,13,38,11,13,14,47,51,6,28,26,...,25,46,0.945946,0.806794,1.104034,0.844595,56,2,0.842105,10
Tottenham,13,38,21,9,8,66,46,11,29,18,...,28,72,0.979730,1.571125,0.764331,0.945946,54,2,0.815789,9
West Bromwich,13,38,14,7,17,53,57,9,32,25,...,32,49,1.081081,0.891720,1.061571,1.081081,62,4,1.026316,8
West Ham Utd,13,38,12,10,16,45,53,9,34,22,...,31,46,1.148649,0.467091,0.934183,1.047297,74,1,1.026316,11
Wigan Athletic,13,38,9,9,20,47,73,4,26,39,...,34,36,0.878378,0.891720,1.656051,1.148649,66,2,0.973684,5
Arsenal,14,38,24,7,7,68,41,13,36,11,...,30,79,1.204013,1.409692,0.484581,1.003344,51,4,0.881579,17
Aston Villa,14,38,10,8,20,39,61,6,22,29,...,32,38,0.735786,0.748899,1.277533,1.070234,78,0,1.026316,9
Cardiff City,14,38,7,9,22,32,74,5,20,35,...,39,30,0.668896,0.528634,1.541850,1.304348,49,1,0.697368,7
Chelsea,14,38,25,7,6,71,27,15,43,11,...,16,82,1.438127,1.233480,0.484581,0.535117,54,3,0.868421,18
Crystal Palace,14,38,13,6,19,33,48,8,18,23,...,25,45,0.602007,0.660793,1.013216,0.836120,59,2,0.881579,12
Everton,14,38,21,9,8,61,39,13,38,19,...,20,72,1.270903,1.013216,0.837004,0.668896,54,1,0.763158,15
Fulham,14,38,9,5,24,40,85,5,24,38,...,47,32,0.802676,0.704846,1.674009,1.571906,56,1,0.789474,5
Hull City,14,38,10,7,21,38,53,7,20,21,...,32,37,0.668896,0.792952,0.925110,1.070234,52,4,0.894737,10
Liverpool,14,38,26,6,6,101,50,16,53,18,...,32,84,1.772575,2.114537,0.792952,1.070234,53,1,0.750000,10
Manchester City,14,38,27,5,6,102,37,17,63,13,...,24,86,2.107023,1.718062,0.572687,0.802676,72,1,1.000000,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Manchester Utd,17,38,18,15,5,54,29,8,26,12,...,17,69,0.856672,1.225383,0.525164,0.560132,77,2,1.118421,17
Middlesbrough,17,38,5,13,20,27,53,4,17,23,...,30,28,0.560132,0.437637,1.006565,0.988468,76,1,1.052632,11
Southampton,17,38,12,10,16,41,48,6,17,21,...,27,46,0.560132,1.050328,0.919037,0.889621,58,2,0.868421,14
Stoke City,17,38,11,11,16,41,56,7,24,24,...,32,44,0.790774,0.743982,1.050328,1.054366,69,2,1.013158,11
Sunderland,17,38,6,6,26,29,69,3,16,34,...,35,24,0.527183,0.568928,1.487965,1.153213,75,4,1.197368,6
Swansea City,17,38,12,5,21,45,70,8,27,34,...,36,41,0.889621,0.787746,1.487965,1.186161,56,0,0.736842,8
Tottenham,17,38,26,8,4,86,26,17,47,9,...,17,86,1.548600,1.706783,0.393873,0.560132,62,0,0.815789,17
Watford,17,38,11,7,20,40,68,8,25,29,...,39,40,0.823723,0.656455,1.269147,1.285008,81,5,1.328947,7
West Bromwich,17,38,12,9,17,43,51,9,27,22,...,29,45,0.889621,0.700219,0.962801,0.955519,80,0,1.052632,6
West Ham Utd,17,38,12,9,17,47,64,7,19,31,...,33,45,0.626030,1.225383,1.356674,1.087315,74,5,1.236842,10
Arsenal,18,38,19,6,13,74,51,15,54,20,...,31,63,1.855670,0.917431,0.917431,1.065292,57,2,0.855263,13
Bournemouth,18,38,11,11,16,45,61,7,26,30,...,31,44,0.893471,0.871560,1.376147,1.065292,54,1,0.763158,6
Brighton & Hove,18,38,9,13,16,34,54,7,24,25,...,29,40,0.824742,0.458716,1.146789,0.996564,54,2,0.815789,10
Burnley,18,38,14,12,12,36,39,7,16,17,...,22,54,0.549828,0.917431,0.779817,0.756014,65,0,0.855263,12
Chelsea,18,38,21,7,10,62,38,11,30,16,...,22,70,1.030928,1.467890,0.733945,0.756014,40,4,0.736842,16
Crystal Palace,18,38,11,11,16,45,55,7,29,27,...,28,44,0.996564,0.733945,1.238532,0.962199,72,0,0.947368,9
Everton,18,38,13,10,15,44,58,10,28,22,...,36,49,0.962199,0.733945,1.009174,1.237113,49,3,0.802632,10
Huddersfield,18,38,9,10,19,28,58,6,16,25,...,33,37,0.549828,0.550459,1.146789,1.134021,59,3,0.934211,10
Leicester City,18,38,12,11,15,56,60,7,25,22,...,38,47,0.859107,1.422018,1.009174,1.305842,48,5,0.894737,9
Liverpool,18,38,21,12,5,84,38,12,45,10,...,28,75,1.546392,1.788991,0.458716,0.962199,44,1,0.631579,17
Manchester City,18,38,32,4,2,106,27,16,61,14,...,13,100,2.096220,2.064220,0.642202,0.446735,57,2,0.855263,18
Manchester Utd,18,38,25,6,7,68,28,15,38,9,...,19,81,1.305842,1.376147,0.412844,0.652921,64,1,0.894737,19
Newcastle Utd,18,38,12,8,18,39,47,8,21,17,...,30,44,0.721649,0.825688,0.779817,1.030928,51,2,0.776316,9
Southampton,18,38,7,15,16,37,56,4,20,26,...,30,36,0.687285,0.779817,1.192661,1.030928,62,2,0.921053,8
Stoke City,18,38,7,12,19,35,68,5,20,30,...,38,33,0.687285,0.688073,1.376147,1.305842,62,1,0.868421,6
Swansea City,18,38,8,9,21,28,56,6,17,24,...,32,33,0.584192,0.504587,1.100917,1.099656,51,1,0.723684,9
Tottenham,18,38,23,8,7,74,36,13,40,16,...,20,77,1.374570,1.559633,0.733945,0.687285,49,2,0.750000,16
Watford,18,38,11,8,19,44,64,7,27,31,...,33,41,0.927835,0.779817,1.422018,1.134021,62,4,1.026316,9
West Bromwich,18,38,6,13,19,31,56,3,21,29,...,27,31,0.721649,0.458716,1.330275,0.927835,73,1,1.013158,10
West Ham Utd,18,38,10,12,16,48,68,7,24,26,...,42,42,0.824742,1.100917,1.192661,1.443299,72,2,1.052632,10

In [18]:
# Changes team names in epl fixture files and saves to different file name
epl_fixture_1314 = pd.read_csv('./Data/epl1314.csv').replace(team_name)
epl_fixture_1415 = pd.read_csv('./Data/epl1415.csv').replace(team_name)
epl_fixture_1516 = pd.read_csv('./Data/epl1516.csv').replace(team_name)
epl_fixture_1617 = pd.read_csv('./Data/epl1617.csv').replace(team_name)
epl_fixture_1718 = pd.read_csv('./Data/epl1718.csv').replace(team_name)
epl_fixture_1819 = pd.read_csv('./Data/epl1819.csv').replace(team_name)
fixtures = [epl_fixture_1314, epl_fixture_1415, epl_fixture_1516, epl_fixture_1617, epl_fixture_1718, epl_fixture_1819]
for i in range(len(fixtures)):
    fixtures[i].to_csv('./Data/epl1' + str(4+i)  + '.csv')

### Step 5: Create a Scoring Model (Poisson Distribution)

In [19]:
def score_percentage(dataframe, hometeam, awayteam):
    home_avg = dataframe['HGF'].sum()/380
    away_avg = dataframe['HGA'].sum()/380
    
    home_score = float(dataframe[dataframe.index == hometeam]['H_Att']) * float(dataframe[dataframe.index == awayteam]['A_Def']) * home_avg
    away_score = float(dataframe[dataframe.index == awayteam]['A_Att']) * float(dataframe[dataframe.index == hometeam]['H_Def']) * away_avg

    score = []
    # maximum score for a team is 5
    for goals in range(0, 6):
        scores = {}
        scores['Home'] = (poisson.pmf(goals, home_score) * 100) # Hometeam score
        scores['Away'] = (poisson.pmf(goals, away_score) * 100) # away score

        if len(scores) == 2:
                    score.append(scores)
    score = pd.DataFrame(score, columns=(['Home', 'Away']))
    home_w = 0
    away_w = 0
    draw = 0
    for home in range(1, len(score)):
        for away in range(0, home):
            home_w += (score['Home'][home] * score['Away'][away] / 10000)

    for away in range(1, len(score)):
        for home in range(0, away):
            away_w += (score['Home'][home] * score['Away'][away] / 10000)

    for home in range(0, len(score)):
        away = home
        draw += (score['Home'][home] * score['Away'][away] / 10000)
        
    return home_w, away_w, draw