In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import poisson

In [48]:
# list of the teams (18/19)
# data from three different sources use different names for teams. 
# manually making a dictionary to rename teams
team_name = {
            'Arsenal FC': 'Arsenal',
            'Burnley FC': 'Burnley',
            'Liverpool FC': 'Liverpool',
            'Everton FC': 'Everton',
            'Fulham FC': 'Fulham',
            'Southampton FC': 'Southampton',
            'Chelsea FC': 'Chelsea',
            'West Bromwich Albion': 'West Bromwich',
            'Manchester United': 'Manchester Utd',
            'Man United': 'Manchester Utd',
            'Man City': 'Manchester City', 
            'Newcastle': 'Newcastle Utd',
            'Newcastle United': 'Newcastle Utd',
            'West Ham United': 'West Ham Utd', 
            'Tottenham Hotspur': 'Tottenham',
            'Queens Park Rangers': 'QP Rangers',
            'Watford FC': 'Watford',
            'AFC Bournemouth': 'Bournemouth',
            'Sunderland AFC': 'Sunderland',
            'Middlesbrough FC': 'Middlesbrough',
            'Brighton & Hove Albion': 'Brighton & Hove',
            'Brighton': 'Brighton & Hove',
            'Huddersfield Town': 'Huddersfield',
            'QPR': 'QP Rangers',
            'Cardiff': 'Cardiff City',
            'Hull': 'Hull City',
            'Norwich': 'Norwich City',
            'Stoke': 'Stoke City',
            'Swansea': 'Swansea City',
            'West Brom': 'West Bromwich',
            'West Ham': 'West Ham Utd',
            'Reading FC': 'Reading',
            'Leicester': 'Leicester City'
            }

In [49]:
table_13 = pd.read_csv('./Data/epl_table_1314.csv')
table_14 = pd.read_csv('./Data/epl_table_1415.csv')
table_15 = pd.read_csv('./Data/epl_table_1516.csv')
table_16 = pd.read_csv('./Data/epl_table_1617.csv')
table_17 = pd.read_csv('./Data/epl_table_1718.csv')

table = [table_13, table_14, table_15, table_16, table_17]

In [50]:
table_13

,Team,P,W,D,L,GF,GA,HW,HGF,HGA,...,AGA,PTS,H_Att,A_Att,H_Def,A_Def,YC,RC,DIS,CS
0,Arsenal,38,24,7,7,68,41,13,36,11,...,30,79,1.204013,1.409692,0.484581,1.003344,51,4,0.881579,17
1,Aston Villa,38,10,8,20,39,61,6,22,29,...,32,38,0.735786,0.748899,1.277533,1.070234,78,0,1.026316,9
2,Cardiff City,38,7,9,22,32,74,5,20,35,...,39,30,0.668896,0.528634,1.541850,1.304348,49,1,0.697368,7
3,Chelsea,38,25,7,6,71,27,15,43,11,...,16,82,1.438127,1.233480,0.484581,0.535117,54,3,0.868421,18
4,Crystal Palace,38,13,6,19,33,48,8,18,23,...,25,45,0.602007,0.660793,1.013216,0.836120,59,2,0.881579,12
5,Everton,38,21,9,8,61,39,13,38,19,...,20,72,1.270903,1.013216,0.837004,0.668896,54,1,0.763158,15
6,Fulham,38,9,5,24,40,85,5,24,38,...,47,32,0.802676,0.704846,1.674009,1.571906,56,1,0.789474,5
7,Hull City,38,10,7,21,38,53,7,20,21,...,32,37,0.668896,0.792952,0.925110,1.070234,52,4,0.894737,10
8,Liverpool,38,26,6,6,101,50,16,53,18,...,32,84,1.772575,2.114537,0.792952,1.070234,53,1,0.750000,10
9,Manchester City,38,27,5,6,102,37,17,63,13,...,24,86,2.107023,1.718062,0.572687,0.802676,72,1,1.000000,16
10,Manchester Utd,38,19,7,12,64,43,9,29,21,...,22,64,0.969900,1.541850,0.925110,0.735786,64,3,1.000000,13
11,Newcastle Utd,38,15,4,19,43,59,8,23,28,...,31,49,0.769231,0.881057,1.233480,1.036789,51,6,0.986842,10
12,Norwich City,38,8,9,21,28,62,6,17,18,...,44,33,0.568562,0.484581,0.792952,1.471572,61,2,0.907895,12
13,Southampton,38,15,11,12,54,46,8,32,23,...,23,56,1.070234,0.969163,1.013216,0.769231,60,0,0.789474,15
14,Stoke City,38,13,11,14,45,52,10,27,17,...,35,50,0.903010,0.792952,0.748899,1.170569,69,5,1.171053,9
15,Sunderland,38,10,8,20,41,60,5,21,27,...,33,38,0.702341,0.881057,1.189427,1.103679,67,7,1.250000,11
16,Swansea City,38,11,9,18,54,54,6,33,26,...,28,42,1.103679,0.925110,1.145374,0.936455,53,3,0.855263,8
17,Tottenham,38,21,6,11,55,51,11,30,23,...,28,69,1.003344,1.101322,1.013216,0.936455,66,4,1.078947,14
18,West Bromwich,38,7,15,16,43,59,4,24,27,...,32,36,0.802676,0.837004,1.189427,1.070234,67,0,0.881579,7
19,West Ham Utd,38,11,7,20,40,51,7,25,26,...,25,40,0.836120,0.660793,1.145374,0.836120,59,5,1.039474,14

In [52]:
# Season fixture
epl_detail_1314 = pd.read_csv('./Data/epl1314.csv').replace(team_name)[['HomeTeam', 'AwayTeam', 'FTR']]
epl_detail_1415 = pd.read_csv('./Data/epl1415.csv').replace(team_name)[['HomeTeam', 'AwayTeam', 'FTR']]
epl_detail_1516 = pd.read_csv('./Data/epl1516.csv').replace(team_name)[['HomeTeam', 'AwayTeam', 'FTR']]
epl_detail_1617 = pd.read_csv('./Data/epl1617.csv').replace(team_name)[['HomeTeam', 'AwayTeam', 'FTR']]
epl_detail_1718 = pd.read_csv('./Data/epl1718.csv').replace(team_name)[['HomeTeam', 'AwayTeam', 'FTR']]
epl_detail_1819 = pd.read_csv('./Data/epl1819.csv').replace(team_name)[['HomeTeam', 'AwayTeam', 'FTR']]

fixture = [epl_detail_1415, epl_detail_1516, epl_detail_1617, epl_detail_1718, epl_detail_1819]

In [53]:
def fill_df(epl_detail_data, pes_data):
    '''
    Pass RPIs to fixture dataframe.
    IndexError will be ignored.
    The model ignores relegation and promotion of teams.
    '''
    for team in epl_detail_data['HomeTeam']:
        try:
            yc = pes_data.loc[pes_data['Team'] == team, 'YC'].values[0] 
            rc = pes_data.loc[pes_data['Team'] == team, 'RC'].values[0]
            cs = pes_data.loc[pes_data['Team'] == team, 'CS'].values[0]

            epl_detail_data.loc[epl_detail_data['HomeTeam'] == team, 'HYC'] = yc
            epl_detail_data.loc[epl_detail_data['HomeTeam'] == team, 'HRC'] = rc
            epl_detail_data.loc[epl_detail_data['AwayTeam'] == team, 'AYC'] = yc
            epl_detail_data.loc[epl_detail_data['AwayTeam'] == team, 'ARC'] = rc
            epl_detail_data.loc[epl_detail_data['HomeTeam'] == team, 'HCS'] = cs
            epl_detail_data.loc[epl_detail_data['AwayTeam'] == team, 'ACS'] = cs


        
        except IndexError:
            pass
        
    return epl_detail_data

fill_df(epl_detail_1314, table_13)
fill_df(epl_detail_1415, table_14)
fill_df(epl_detail_1516, table_15)
fill_df(epl_detail_1617, table_16)
fill_df(epl_detail_1718, table_17)

            HomeTeam         AwayTeam FTR   HYC  HRC   AYC  ARC   HCS   ACS
0            Arsenal   Leicester City   H  57.0  2.0  48.0  5.0  13.0   9.0
1    Brighton & Hove  Manchester City   A  54.0  2.0  57.0  2.0  10.0  18.0
2            Chelsea          Burnley   A  40.0  4.0  65.0  0.0  16.0  12.0
3     Crystal Palace     Huddersfield   A  72.0  0.0  59.0  3.0   9.0  10.0
4            Everton       Stoke City   H  49.0  3.0  62.0  1.0  10.0   6.0
5        Southampton     Swansea City   D  62.0  2.0  51.0  1.0   8.0   9.0
6            Watford        Liverpool   D  62.0  4.0  44.0  1.0   9.0  17.0
7      West Bromwich      Bournemouth   H  73.0  1.0  54.0  1.0  10.0   6.0
8     Manchester Utd     West Ham Utd   H  64.0  1.0  72.0  2.0  19.0  10.0
9      Newcastle Utd        Tottenham   A  51.0  2.0  49.0  2.0   9.0  16.0
10       Bournemouth          Watford   A  54.0  1.0  62.0  4.0   6.0   9.0
11           Burnley    West Bromwich   A  65.0  0.0  73.0  1.0  12.0  10.0
12    Leicester City  Brighton & Hove   H  48.0  5.0  54.0  2.0   9.0  10.0
13         Liverpool   Crystal Palace   H  44.0  1.0  72.0  0.0  17.0   9.0
14       Southampton     West Ham Utd   H  62.0  2.0  72.0  2.0   8.0  10.0
15        Stoke City          Arsenal   H  62.0  1.0  57.0  2.0   6.0  13.0
16      Swansea City   Manchester Utd   A  51.0  1.0  64.0  1.0   9.0  19.0
17      Huddersfield    Newcastle Utd   H  59.0  3.0  51.0  2.0  10.0   9.0
18         Tottenham          Chelsea   A  49.0  2.0  40.0  4.0  16.0  16.0
19   Manchester City          Everton   D  57.0  2.0  49.0  3.0  18.0  10.0
20       Bournemouth  Manchester City   A  54.0  1.0  57.0  2.0   6.0  18.0
21    Crystal Palace     Swansea City   A  72.0  0.0  51.0  1.0   9.0   9.0
22      Huddersfield      Southampton   D  59.0  3.0  62.0  2.0  10.0   8.0
23    Manchester Utd   Leicester City   H  64.0  1.0  48.0  5.0  19.0   9.0
24     Newcastle Utd     West Ham Utd   H  51.0  2.0  72.0  2.0   9.0  10.0
25           Watford  Brighton & Hove   D  62.0  4.0  54.0  2.0   9.0  10.0
26           Chelsea          Everton   H  40.0  4.0  49.0  3.0  16.0  10.0
27         Liverpool          Arsenal   H  44.0  1.0  57.0  2.0  17.0  13.0
28         Tottenham          Burnley   D  49.0  2.0  65.0  0.0  16.0  12.0
29     West Bromwich       Stoke City   D  73.0  1.0  62.0  1.0  10.0   6.0
..               ...              ...  ..   ...  ...   ...  ...   ...   ...
350     Swansea City          Chelsea   A  51.0  1.0  40.0  4.0   9.0  16.0
351   Manchester Utd          Arsenal   H  64.0  1.0  57.0  2.0  19.0  13.0
352     West Ham Utd  Manchester City   A  72.0  2.0  57.0  2.0  10.0  18.0
353        Tottenham          Watford   H  49.0  2.0  62.0  4.0  16.0   9.0
354  Brighton & Hove   Manchester Utd   H  54.0  2.0  64.0  1.0  10.0  19.0
355      Bournemouth     Swansea City   H  54.0  1.0  51.0  1.0   6.0   9.0
356          Everton      Southampton   D  49.0  3.0  62.0  2.0  10.0   8.0
357   Leicester City     West Ham Utd   A  48.0  5.0  72.0  2.0   9.0  10.0
358       Stoke City   Crystal Palace   A  62.0  1.0  72.0  0.0   6.0   9.0
359          Watford    Newcastle Utd   H  62.0  4.0  51.0  2.0   9.0   9.0
360    West Bromwich        Tottenham   H  73.0  1.0  49.0  2.0  10.0  16.0
361          Arsenal          Burnley   H  57.0  2.0  65.0  0.0  13.0  12.0
362          Chelsea        Liverpool   H  40.0  4.0  44.0  1.0  16.0  17.0
363  Manchester City     Huddersfield   D  57.0  2.0  59.0  3.0  18.0  10.0
364     Swansea City      Southampton   A  51.0  1.0  62.0  2.0   9.0   8.0
365          Chelsea     Huddersfield   D  40.0  4.0  59.0  3.0  16.0  10.0
366   Leicester City          Arsenal   H  48.0  5.0  57.0  2.0   9.0  13.0
367  Manchester City  Brighton & Hove   H  57.0  2.0  54.0  2.0  18.0  10.0
368        Tottenham    Newcastle Utd   H  49.0  2.0  51.0  2.0  16.0   9.0
369     West Ham Utd   Manchester Utd   D  72.0  2.0  64.0  1.0  10.0  19.0
370          Burnley      Bournemouth   A  65.0  0.0  54.0  1.0  12.0   6.0
371   Crystal Palace    West Bromwich   H  72.0  0.0  73.0  1.0   9.0  10.0
372     Huddersfield          Arsenal   A  59.0  3.0  57.0  2.0  10.0  13.0
373        Liverpool  Brighton & Hove   H  44.0  1.0  54.0  2.0  17.0  10.0
374   Manchester Utd          Watford   H  64.0  1.0  62.0  4.0  19.0   9.0
375    Newcastle Utd          Chelsea   H  51.0  2.0  40.0  4.0   9.0  16.0
376      Southampton  Manchester City   A  62.0  2.0  57.0  2.0   8.0  18.0
377     Swansea City       Stoke City   A  51.0  1.0  62.0  1.0   9.0   6.0
378        Tottenham   Leicester City   H  49.0  2.0  48.0  5.0  16.0   9.0
379     West Ham Utd          Everton   H  72.0  2.0  49.0  3.0  10.0  10.0

[380 rows x 9 columns]

In [43]:
def result_percentage(dataframe, hometeam, awayteam):
    home_avg = dataframe['HGF'].sum()/380
    away_avg = dataframe['HGA'].sum()/380
    
    home_score = float(dataframe[dataframe['Team'] == hometeam]['H_Att']) * float(dataframe[dataframe['Team'] == awayteam]['A_Def']) * home_avg
    away_score = float(dataframe[dataframe['Team'] == awayteam]['A_Att']) * float(dataframe[dataframe['Team'] == hometeam]['H_Def']) * away_avg

    score = []
    # maximum score for a team is 5
    for goals in range(0, 6):
        scores = {}
        scores['Home'] = (poisson.pmf(goals, home_score) * 100) # Hometeam score
        scores['Away'] = (poisson.pmf(goals, away_score) * 100) # away score

        if len(scores) == 2:
                    score.append(scores)

    score = pd.DataFrame(score, columns=(['Home', 'Away']))
    # print(score)
    # % of home team winning
    # home score > away score
    # home[1] * away[0]
    # home[2] * away[0] + home[2] * away[1]
    # home[3] * away[0] + home[3] * away[1] + home[3] * away[2]
    # home[4] * away[0] + home[4] * away[1] + home[4] * away[2] + home[4] * away[3]
    # home[5] * away[0] + home[5] * away[1] + home[5] * away[2] + home[5] * away[3]+  home[5] * away[4]
    home_w = 0
    away_w = 0
    draw = 0
    result = []
    for home in range(1, len(score)):
        for away in range(0, home):
            home_w += (score['Home'][home] * score['Away'][away] / 10000)
    result.append(home_w)

    for away in range(1, len(score)):
        for home in range(0, away):
            away_w += (score['Home'][home] * score['Away'][away] / 10000)
    result.append(away_w)

    for home in range(0, len(score)):
        away = home
        draw += (score['Home'][home] * score['Away'][away] / 10000)
    result.append(draw)

    return result

In [10]:
result_percentage(table_13, 'Arsenal', 'Aston Villa')

[0.735833196878577, 0.06805488325845031, 0.1785172674952371]

In [11]:
def decision(result_p):
#     if result_p[2] >= 0.4:
#         return 'D'
#     elif abs(result_p[0] - result_p[1]) < 0.005:
#         return 'D'
    if result_p[2] > result_p[1] and result_p[2] > result_p[0]:
        return 'D'
    elif result_p[0] > result_p[1] and result_p[0] > result_p[2]:
        return 'H'
    elif result_p[1] > result_p[0] and result_p[1] > result_p[2]:
        return 'A'

In [35]:
def predict(fixture, rating):

    for i in range(len(fixture)):
        if fixture['HomeTeam'][i] in list(rating['Team']) and fixture['AwayTeam'][i] in list(rating['Team']):
            result = result_percentage(rating, fixture['HomeTeam'][i], fixture['AwayTeam'][i])
            fixture.loc[i, 'Predict'] = decision(result)
            fixture.loc[i, 'W'] = result[0]
            fixture.loc[i, 'D'] = result[2]
            fixture.loc[i, 'L'] = result[1]

    fixture.loc[:, 'Result'] = (fixture.loc[:, 'FTR'] == fixture.loc[:, 'Predict']) * 1

In [36]:
for i in range(len(fixture)):
    predict(fixture[i], table[i])

In [40]:
table_13.head(2)

,Team,P,W,D,L,GF,GA,HW,HGF,HGA,...,AGA,PTS,H_Att,A_Att,H_Def,A_Def,YC,RC,DIS,CS
0,Arsenal,38,24,7,7,68,41,13,36,11,...,30,79,1.204013,1.409692,0.484581,1.003344,51,4,0.881579,17
1,Aston Villa,38,10,8,20,39,61,6,22,29,...,32,38,0.735786,0.748899,1.277533,1.070234,78,0,1.026316,9

In [42]:
epl_detail_1819

,HomeTeam,AwayTeam,FTR,Predict,Result,W,D,L
0,Manchester Utd,Leicester City,H,H,1,0.738472,0.138564,0.072993
1,Bournemouth,Cardiff City,H,NaN,0,NaN,NaN,NaN
2,Fulham,Crystal Palace,A,NaN,0,NaN,NaN,NaN
3,Huddersfield,Chelsea,A,A,1,0.113782,0.204240,0.667711
4,Newcastle Utd,Tottenham,A,A,1,0.203776,0.275398,0.517535
5,Watford,Brighton & Hove,H,H,1,0.525943,0.272768,0.197777
6,Wolves,Everton,D,NaN,0,NaN,NaN,NaN
7,Arsenal,Manchester City,A,A,1,0.215050,0.203304,0.556066
8,Liverpool,West Ham Utd,H,H,1,0.758934,0.077210,0.032043
9,Southampton,Burnley,D,A,0,0.235455,0.292911,0.469577
10,Cardiff City,Newcastle Utd,D,NaN,0,NaN,NaN,NaN
11,Chelsea,Arsenal,H,H,1,0.583343,0.239465,0.169422
12,Everton,Southampton,H,H,1,0.512122,0.259121,0.223675
13,Leicester City,Wolves,H,NaN,0,NaN,NaN,NaN
14,Tottenham,Fulham,H,NaN,0,NaN,NaN,NaN
15,West Ham Utd,Bournemouth,A,H,0,0.400191,0.266698,0.329019
16,Brighton & Hove,Manchester Utd,H,A,0,0.166335,0.225996,0.596795
17,Burnley,Watford,A,H,0,0.400948,0.342053,0.256443
18,Manchester City,Huddersfield,H,H,1,0.767517,0.054555,0.016381
19,Crystal Palace,Liverpool,A,A,1,0.205620,0.182118,0.563511
20,Arsenal,West Ham Utd,H,H,1,0.632783,0.080156,0.055083
21,Bournemouth,Everton,D,H,0,0.490765,0.240297,0.259842
22,Huddersfield,Cardiff City,D,NaN,0,NaN,NaN,NaN
23,Liverpool,Brighton & Hove,H,H,1,0.817531,0.122813,0.026324
24,Southampton,Leicester City,A,A,1,0.268390,0.220186,0.493847
25,Wolves,Manchester City,D,NaN,0,NaN,NaN,NaN
26,Fulham,Burnley,H,NaN,0,NaN,NaN,NaN
27,Newcastle Utd,Chelsea,A,A,1,0.237487,0.284269,0.475667
28,Watford,Crystal Palace,H,H,1,0.404693,0.264867,0.326104
29,Manchester Utd,Tottenham,A,H,0,0.517499,0.278438,0.201014
...,...,...,...,...,...,...,...,...
40,Bournemouth,Leicester City,H,A,0,0.301943,0.201339,0.459821
41,Chelsea,Cardiff City,H,NaN,0,NaN,NaN,NaN
42,Huddersfield,Crystal Palace,A,A,1,0.292102,0.330089,0.377116
43,Manchester City,Fulham,H,NaN,0,NaN,NaN,NaN
44,Newcastle Utd,Arsenal,A,H,0,0.440536,0.301866,0.256023
45,Tottenham,Liverpool,A,H,0,0.480283,0.214579,0.283161
46,Watford,Manchester Utd,A,A,1,0.141468,0.186535,0.644478
47,Everton,West Ham Utd,A,H,0,0.547575,0.206789,0.222061
48,Wolves,Burnley,H,NaN,0,NaN,NaN,NaN
49,Southampton,Brighton & Hove,D,H,0,0.450566,0.331925,0.216699
50,Brighton & Hove,Tottenham,A,A,1,0.149196,0.202239,0.629766
51,Burnley,Bournemouth,H,H,1,0.361361,0.342467,0.295673
52,Cardiff City,Manchester City,A,NaN,0,NaN,NaN,NaN
53,Crystal Palace,Newcastle Utd,D,H,0,0.460447,0.249778,0.282856
54,Fulham,Watford,D,NaN,0,NaN,NaN,NaN
55,Leicester City,Huddersfield,H,H,1,0.575406,0.261873,0.158322
56,Liverpool,Southampton,H,H,1,0.784620,0.131780,0.045358
57,Manchester Utd,Wolves,D,NaN,0,NaN,NaN,NaN
58,Arsenal,Everton,H,H,1,0.725155,0.085401,0.044803
59,West Ham Utd,Chelsea,D,A,0,0.171621,0.209591,0.601448
60,Arsenal,Watford,H,H,1,0.725937,0.105246,0.060581
61,Chelsea,Liverpool,D,H,0,0.377169,0.241799,0.371771
62,Everton,Fulham,H,NaN,0,NaN,NaN,NaN
63,Huddersfield,Tottenham,A,A,1,0.092999,0.186551,0.701898
64,Manchester City,Brighton & Hove,H,H,1,0.805703,0.070139,0.018807
65,Newcastle Utd,Leicester City,A,H,0,0.407434,0.256225,0.330635
66,West Ham Utd,Manchester Utd,H,A,0,0.158151,0.218098,0.610831
67,Wolves,Southampton,H,NaN,0,NaN,NaN,NaN
68,Cardiff City,Burnley,A,NaN,0,NaN,NaN,NaN
69,Bournemouth,Crystal Palace,H,H,1,0.400076,0.270569,0.325724

In [27]:
epl_detail_1819.dropna()['Result'].mean()

0.6122448979591837

In [32]:
print(epl_detail_1415.dropna()['Result'].mean())
print(epl_detail_1516.dropna()['Result'].mean())
print(epl_detail_1617.dropna()['Result'].mean())
print(epl_detail_1718.dropna()['Result'].mean())
print(epl_detail_1819.dropna()['Result'].mean())

(epl_detail_1819.dropna()['Result'].mean() + epl_detail_1415.dropna()['Result'].mean() + 
 epl_detail_1516.dropna()['Result'].mean() + epl_detail_1617.dropna()['Result'].mean() + (epl_detail_1718.dropna()['Result'].mean())) / 5

0.5
0.4375
0.5257352941176471
0.5110294117647058
0.6122448979591837

0.5173019207683073