In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import poisson

In [2]:
df = pd.read_csv('./Data/epl1314.csv')
table_13 = pd.read_csv('./Data/epl_table_1516.csv')

In [3]:
table_13[['Team','H_Att', 'H_Def', 'A_Att', 'A_Def']]

               Team     H_Att     H_Def     A_Att     A_Def
0           Arsenal  1.093474  0.479303  1.481481  0.881834
1       Aston Villa  0.493827  1.525054  0.566449  1.446208
2       Bournemouth  0.811287  1.481481  0.958606  1.164021
3           Chelsea  1.128748  1.307190  1.176471  0.811287
4    Crystal Palace  0.670194  1.002179  0.871460  0.987654
5           Everton  1.234568  1.307190  1.045752  0.881834
6    Leicester City  1.234568  0.784314  1.437908  0.634921
7         Liverpool  1.164021  0.958606  1.307190  0.987654
8   Manchester City  1.657848  0.915033  1.045752  0.705467
9    Manchester Utd  0.952381  0.392157  0.958606  0.917108
10    Newcastle Utd  1.128748  1.045752  0.522876  1.446208
11     Norwich City  0.917108  1.307190  0.566449  1.305115
12      Southampton  1.375661  0.958606  0.871460  0.670194
13       Stoke City  0.776014  1.045752  0.827887  1.093474
14       Sunderland  0.811287  0.871460  1.089325  1.481481
15     Swansea City  0.705467  0.871460  0.958606  1.128748
16        Tottenham  1.234568  0.653595  1.481481  0.705467
17          Watford  0.705467  0.827887  0.871460  1.093474
18    West Bromwich  0.705467  1.132898  0.610022  0.776014
19     West Ham Utd  1.199295  1.132898  1.350763  0.881834

In [11]:
def score_percentage(dataframe, hometeam, awayteam):
    home_avg = dataframe['HGF'].sum()/380
    away_avg = dataframe['HGA'].sum()/380
    
    home_score = float(dataframe[dataframe['Team'] == hometeam]['H_Att']) * float(dataframe[dataframe['Team'] == awayteam]['A_Def']) * home_avg
    away_score = float(dataframe[dataframe['Team'] == awayteam]['A_Att']) * float(dataframe[dataframe['Team'] == hometeam]['H_Def']) * away_avg
    print(home_score, away_score)
    score = []
    # maximum score for a team is 5
    for goals in range(0, 6):
        scores = {}
        scores['Home'] = (poisson.pmf(goals, home_score) * 100) # Hometeam score
        scores['Away'] = (poisson.pmf(goals, away_score) * 100) # away score

        if len(scores) == 2:
                    score.append(scores)
    score = pd.DataFrame(score, columns=(['Home', 'Away']))
    return score
    
score = score_percentage(table_13, 'Arsenal', 'Aston Villa')

2.3596027104799036 0.32794404311432174

In [12]:
score

        Home       Away
0   9.445774  72.040333
1  22.288275  23.625198
2  26.295737   3.873871
3  20.682497   0.423471
4  12.200619   0.034719
5   5.757723   0.002277

In [13]:
score.Home.sum(), score.Away.sum()

(96.67062436446729, 99.99986945755062)

In [14]:
# % of home team winning
# home score > away score
# home[1] * away[0]
# home[2] * away[0] + home[2] * away[1]
# home[3] * away[0] + home[3] * away[1] + home[3] * away[2]
# home[4] * away[0] + home[4] * away[1] + home[4] * away[2] + home[4] * away[3]
# home[5] * away[0] + home[5] * away[1] + home[5] * away[2] + home[5] * away[3]+  home[5] * away[4]
home_w = 0
away_w = 0
draw = 0
for home in range(1, len(score)):
    for away in range(0, home):
        home_w += (score['Home'][home] * score['Away'][away] / 10000)

for away in range(1, len(score)):
    for home in range(0, away):
        away_w += (score['Home'][home] * score['Away'][away] / 10000)

for home in range(0, len(score)):
    away = home
    draw += (score['Home'][home] * score['Away'][away] / 10000)

In [15]:
# should get all percentage and average 38 games
home_w, away_w, draw

(0.7975341087134129, 0.03736056594967404, 0.13181030701957722)

In [16]:
home_w + away_w + draw

0.9667049816826642