In [1]:
# import libaries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import time
import matplotlib.pyplot as plt
from scipy.stats import poisson

### Step 1: Get EPL Team Overall Stats from web
Get EPL teams' stats using database in www.pesmaster.com.
The result dictionary will have 6 seasons' stats from 13/14 ~ 18/19 EPL.

In [2]:
# list of the teams (18/19)
# data from three different sources use different names for teams. 
# manually making a dictionary to rename teams
team_name = {
            'Arsenal FC': 'Arsenal',
            'Burnley FC': 'Burnley',
            'Liverpool FC': 'Liverpool',
            'Everton FC': 'Everton',
            'Fulham FC': 'Fulham',
            'Southampton FC': 'Southampton',
            'Chelsea FC': 'Chelsea',
            'West Bromwich Albion': 'West Bromwich',
            'Manchester United': 'Manchester Utd',
            'Man United': 'Manchester Utd',
            'Man City': 'Manchester City', 
            'Newcastle': 'Newcastle Utd',
            'Newcastle United': 'Newcastle Utd',
            'West Ham United': 'West Ham Utd', 
            'Tottenham Hotspur': 'Tottenham',
            'Queens Park Rangers': 'QP Rangers',
            'Watford FC': 'Watford',
            'AFC Bournemouth': 'Bournemouth',
            'Sunderland AFC': 'Sunderland',
            'Middlesbrough FC': 'Middlesbrough',
            'Brighton & Hove Albion': 'Brighton & Hove',
            'Huddersfield Town': 'Huddersfield',
            'QPR': 'QP Rangers',
            'Cardiff': 'Cardiff City',
            'Hull': 'Hull City',
            'Norwich': 'Norwich City',
            'Stoke': 'Stoke City',
            'Swansea': 'Swansea City',
            'West Brom': 'West Bromwich',
            'West Ham': 'West Ham Utd',
            'Reading FC': 'Reading',
            'Leicester': 'Leicester City'
            }

In [3]:
teams_seasons = []
for year in range(2014, 2020):
    url = 'https://www.pesmaster.com/english-league/pes-' + str(year) + '/league/9/'
    res = requests.get(url, headers={'User-agent': 'slsl'})
    
    if res.status_code != 200:
        print('Status not 200', res.status_code)
        break

    soup = BeautifulSoup(res.content, 'lxml')
    table = soup.find("table", {"id" : "search-result-table"})
    tr = table.find_all('tr')
    
    teams = []

    for i in range(1,(len(tr))):
            result = {}

            td = tr[i].find_all('td')
            
            if td:
                result['Team'] = td[0].text
                result['Ovr'] = td[1].text
                result['Def'] = td[2].text
                result['Mid'] = td[3].text
                result['Fwd'] = td[4].text
                result['Phy'] = td[5].text
                result['Spd'] = (td[6].text)

            if len(result) == 7:
                teams.append(result)
                
    time.sleep(3)
    
    teams_df = pd.DataFrame(teams, columns=(['Team', 'Ovr', 'Def', 'Mid', 'Fwd', 'Phy', 'Spd']))
    teams_df = teams_df.set_index('Team')
    teams_df.rename(index=team_name, inplace=True)

    # put all seasons into a list
    teams_seasons.append(teams_df)
    
# make a list as a dictionary that has keys = season (2013, 2014, ..., 2017)
teams_dict = {str(2014 + i) : teams_seasons[i] for i in range(0,6)}

In [4]:
teams_dict['2019'].head()

                Ovr Def Mid Fwd Phy Spd
Team
Manchester City  84  83  86  85  76  80
Liverpool        83  82  82  85  75  79
Chelsea          83  82  83  85  77  78
Manchester Utd   83  81  82  85  78  78
Arsenal          82  81  82  84  76  77

In [5]:
for season in range(2014, 2020):
    teams_dict[str(season)].to_csv('./Data/PES' + str(season-2000) + '.csv')

In [6]:
# list of the teams (18/19)
pes_team_dict = {
            'ARSENAL': 'Arsenal',
            'LIVERPOOL': 'Liverpool',
            'SOUTH WALES': 'Cardiff City',
            'MAN BLUE': 'Manchester City',
            'EAST DORSETSHIRE': 'Bournemouth',
            'WEST LONDON WHITE': 'Fulham',
            'EAST MIDLANDS': 'Leicester City',
            'SOUTH NORWOOD': 'Crystal Palace',
            'TYNESIDE': 'Newcastle Utd',
            'NORTH EAST LONDON': 'Tottenham',
            'EAST LONDON': 'West Ham Utd',
            'HAMPSHIRE RED': 'Southampton',
            'LANCASHIRE CLARET': 'Burnley',
            'HERTFORDSHIRE': 'Watford',
            'MAN RED': 'Manchester Utd',
            'EAST SUSSEX': 'Brighton & Hove',
            'LONDON FC': 'Chelsea',
            'MERSEYSIDE BLUE': 'Everton',
            'WM GOLD':'Wolverhampton',
            'WEST YORKSHIRE TOWN': 'Huddersfield',
            'WEST GLAMORGAN CITY': 'Swansea City'}

In [7]:
players = []

for page in range(1,18):
    url = 'http://pesdb.net/pes2019/?league=1&sort=club_team&order=a&page=' + str(page)
    res = requests.get(url, headers={'User-agent': 'slsl'})
    
    if res.status_code != 200:
        print('Status not 200', res.status_code)
        break

    soup = BeautifulSoup(res.content, 'lxml')
    table = soup.find("table", {"class" : "players"})
    tr = table.find_all('tr')

    for i in range(1,(len(tr))):
            result = {}

            td = tr[i].find_all('td')
            
            if td:
                result['Name'] = td[1].text
                result['Team'] = td[2].text
                result['Rating'] = (td[9].text)

            if len(result) == 3:
                players.append(result)
                
    time.sleep(3)
    
players_df = pd.DataFrame(players, columns=(['Name', 'Team', 'Rating']))
final_player = players_df.set_index('Team')
final_player.rename(index=pes_team_dict, inplace=True)

In [8]:
final_player.head()

                  Name Rating
Team
Arsenal  P. AUBAMEYANG     88
Arsenal        M. ÖZIL     87
Arsenal  H. MKHITARYAN     85
Arsenal   A. LACAZETTE     85
Arsenal        B. LENO     85

### Step 2: Get EPL Tables of Last 5 Seasons (2013~2018)

In [9]:
season_tables = []

for year in range(2013, 2019):
    # load data from soccerstats.com by years (2013 will mean 12/13)
    table_url = 'https://www.soccerstats.com/widetable.asp?league=england_' + str(year)
    res = requests.get(table_url, headers={'User-agent': 'slsl'})

    if res.status_code != 200:
        print('Status not 200', res.status_code)
        break

    soup = BeautifulSoup(res.content, 'lxml')
    
    # get a table
    table = soup.find('table', {'id': 'btable'})
    tr = table.find_all('tr', {'class': 'trow8'})

    final_table = []

    for i in range(0,(len(tr))):
        result = {}

        td = tr[i].find_all('td')

        if td:
            result['Team'] = td[1].text.strip()     # team name
            result['P'] = int(td[2].text)           # number of games
            result['W'] = int(td[3].text)           # wins
            result['D'] = int(td[4].text)           # draws
            result['L'] = int(td[5].text)           # loses
            result['HW'] = int(td[13].text)         # home wins
            result['HGF'] = int(td[16].text)        # home goals scored
            result['HGA'] = int(td[17].text)        # home goals conceded
            result['AGF'] = int(td[27].text)        # away goals scored
            result['AGA'] = int(td[28].text)        # away goals conceded
            result['AW'] = int(td[24].text)         # away wins
            result['GF'] = int(td[6].text)          # goals for
            result['GA'] = int(td[7].text)          # goals allowed
            result['PTS'] = int(td[9].text)         # total points end of the season

            # put them into one dictionary
            if len(result) == 14:
                final_table.append(result)

    time.sleep(3)

    # put dictionary into a pandas dataframe with column names
    final_table = pd.DataFrame(final_table, columns=(['Team', 'P', 'W', 'D', 'L', 'GF', 'GA', 'HW', 'HGF', 'HGA', 'AW', 'AGF', 'AGA', 'PTS']))
    
    # Create features to generate poisson distribution
    final_table['H_Att'] = final_table['HGF'] / 19 / (final_table['HGF'].sum() / 380)
    final_table['A_Att'] = final_table['AGF'] / 19 / (final_table['AGF'].sum() / 380)
    final_table['H_Def'] = final_table['HGA'] / 19 / (final_table['HGA'].sum() / 380) #* table_13['DIS'] * table_13['CS'] / 38
    final_table['A_Def'] = final_table['AGA'] / 19 / (final_table['AGA'].sum() / 380) #* table_13['DIS'] * table_13['CS'] / 38
    
    # change index as a team names
    final_table = final_table.set_index('Team')
    # put all seasons into a list
    season_tables.append(final_table)

# make a list as a dictionary that has keys = season (2013, 2014, ..., 2017)
dict_seasons = {str(2012 + i) : season_tables[i] for i in range(0,6)}

In [10]:
dict_seasons['2012'] # EPL Season 2012/2013

,P,W,D,L,GF,GA,HW,HGF,HGA,AW,AGF,AGA,PTS,H_Att,A_Att,H_Def,A_Def
Team,,,,,,,,,,,,,,,,,
Manchester Utd,38,28,5,5,86,43,16,45,19,12,41,24,89,1.520270,1.740977,0.806794,0.810811
Manchester City,38,23,9,6,66,34,14,41,15,9,25,19,78,1.385135,1.061571,0.636943,0.641892
Chelsea,38,22,9,7,75,39,12,41,16,10,34,23,75,1.385135,1.443737,0.679406,0.777027
Arsenal,38,21,10,7,72,37,11,47,23,10,25,14,73,1.587838,1.061571,0.976645,0.472973
Tottenham,38,21,9,8,66,46,11,29,18,10,37,28,72,0.979730,1.571125,0.764331,0.945946
Everton,38,16,15,7,55,40,12,33,17,4,22,23,63,1.114865,0.934183,0.721868,0.777027
Liverpool,38,16,13,9,71,43,9,33,16,7,38,27,61,1.114865,1.613588,0.679406,0.912162
West Bromwich,38,14,7,17,53,57,9,32,25,5,21,32,49,1.081081,0.891720,1.061571,1.081081
Swansea City,38,11,13,14,47,51,6,28,26,5,19,25,46,0.945946,0.806794,1.104034,0.844595
West Ham Utd,38,12,10,16,45,53,9,34,22,3,11,31,46,1.148649,0.467091,0.934183,1.047297
Norwich City,38,10,14,14,41,58,8,25,20,2,16,38,44,0.844595,0.679406,0.849257,1.283784
Fulham,38,11,10,17,50,60,7,28,30,4,22,30,43,0.945946,0.934183,1.273885,1.013514
Stoke City,38,9,15,14,34,45,7,21,22,2,13,23,42,0.709459,0.552017,0.934183,0.777027
Southampton,38,9,14,15,49,60,6,26,24,3,23,36,41,0.878378,0.976645,1.019108,1.216216
Aston Villa,38,10,11,17,47,69,5,23,28,5,24,41,41,0.777027,1.019108,1.188960,1.385135
Newcastle Utd,38,11,8,19,45,68,9,24,31,2,21,37,41,0.810811,0.891720,1.316348,1.250000
Sunderland,38,9,12,17,41,54,5,20,19,4,21,35,39,0.675676,0.891720,0.806794,1.182432
Wigan Athletic,38,9,9,20,47,73,4,26,39,5,21,34,36,0.878378,0.891720,1.656051,1.148649
Reading,38,6,10,22,43,73,4,23,33,2,20,40,28,0.777027,0.849257,1.401274,1.351351
QP Rangers,38,4,13,21,30,60,2,13,28,2,17,32,25,0.439189,0.721868,1.188960,1.081081

### Step 3: Getting Cleans Sheets

In [11]:
cs_tables = []
seasons = ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18']
for year in seasons:
    #load data from soccerstats.com by years (2013 will mean 13/14)
    table_url = 'https://www.sportsmole.co.uk/football/premier-league/' + year + '/best-defence.html'
    res = requests.get(table_url, headers={'User-agent': 'slee'})
   
    if res.status_code != 200:
        print('Status not 200', res.status_code)
        break
        
    soup = BeautifulSoup(res.content, 'lxml')

    # get a table
    table = soup.find('table', {'class':'leaguetable full'})
    tr = table.find_all('tr')
    cs_table = []

    for i in range(1,(len(tr))):
        result = {}

        td = tr[i].find_all('td')

        if td:
            result['Team'] = td[1].text.strip()          # goals allowed
            result['CS'] = int(td[4].text)         # total points end of the season

            # put them into one dictionary
            if len(result) == 2:
                cs_table.append(result)

    time.sleep(3)

    # put dictionary into a pandas dataframe with column names
    cs_table = pd.DataFrame(cs_table, columns=(['Team', 'CS']))
    # change index as a team names
    cs_table = cs_table.set_index('Team')
    cs_table.rename(index=team_name, inplace=True)
    # put all seasons into a list
    cs_tables.append(cs_table)

# make a list as a dictionary that has keys = season (2013, 2014, ..., 2017)
dict_cs = {str(2012 + i) : cs_tables[i] for i in range(0,6)}

In [12]:
dict_cs['2013']

                 CS
Team
Chelsea          18
Manchester City  16
Everton          15
Arsenal          17
Manchester Utd   13
Southampton      15
Crystal Palace   12
Liverpool        10
Tottenham        14
West Ham Utd     14
Stoke City        9
Hull City        10
Swansea City      8
Newcastle Utd    10
West Bromwich     7
Sunderland       11
Aston Villa       9
Norwich City     12
Cardiff City      7
Fulham            5

### Step 4: Getting 'Discipline' Points

In [13]:
dis_tables = []

for year in range(2012, 2018):
    # load data from transfermarkt.co.uk by years (2013 means 13/14)
    table_url = 'https://www.transfermarkt.co.uk/premier-league/fairnesstabelle/wettbewerb/GB1/saison_id/' + str(year) + '/plus/1'
    res = requests.get(table_url, headers={'User-agent': 'slsl'})

    if res.status_code != 200:
        print('Status not 200', res.status_code)

    soup = BeautifulSoup(res.content, 'lxml')

    # get a table
    table = soup.find('table', {'class': 'items'})
    tbody = table.find('tbody')
    tr = tbody.find_all('tr')

    dis_table = []

    for i in range(0,(len(tr))):
        result = {}

        td = tr[i].find_all('td')

        if td:
            result['Team'] = td[2].text.strip()     # team name
            result['P'] = int(td[3].text)           # games played
            result['YC'] = int(td[5].text)          # total number of yellow cards during the season
            result['RC'] = int(td[8].text)          # red cards
            # DIS = (0.5 * YC + 2 * RC) / P
            # higher 'DIS', the team is more likely to have cards during a match
            result['DIS'] = (int(td[5].text) * 0.5 + int(td[8].text) * 2) / int(td[3].text)    

            # put them into one dictionary
            if len(result) == 5:
                dis_table.append(result)

    time.sleep(3)

    # put dictionary into a pandas dataframe with column names
    dis_table = pd.DataFrame(dis_table, columns=(['Team', 'P', 'YC', 'RC', 'DIS']))
    # change index as a team names
    dis_table = dis_table.set_index('Team')
    dis_table.rename(index=team_name, inplace=True)
    # put all seasons into a list
    dis_tables.append(dis_table)
    
# make a list as a dictionary that has keys = season (2012, 2013, 2014, ..., 2017)
dict_dis = {str(2012 + i) : dis_tables[i] for i in range(0,6)}

In [14]:
dict_dis['2012']

                  P  YC  RC       DIS
Team
Reading          38  45   1  0.644737
Southampton      38  43   2  0.671053
Chelsea          38  49   3  0.802632
Arsenal          38  40   5  0.789474
Manchester Utd   38  57   1  0.802632
Fulham           38  48   3  0.789474
Liverpool        38  54   2  0.815789
Tottenham        38  54   2  0.815789
Swansea City     38  56   2  0.842105
Norwich City     38  60   1  0.842105
Everton          38  57   3  0.907895
QP Rangers       38  58   3  0.921053
Sunderland       38  60   3  0.947368
Wigan Athletic   38  66   2  0.973684
Manchester City  38  63   3  0.986842
West Ham Utd     38  74   1  1.026316
Aston Villa      38  70   3  1.078947
West Bromwich    38  62   4  1.026316
Newcastle Utd    38  69   4  1.118421
Stoke City       38  73   4  1.171053

### Step 4: Merge Standing and Discipline

In [15]:
# merge dict_seasons, dict_dis
temp_pd = []
for year in range(2012, 2018):
    temp_pd.append(pd.merge(dict_seasons[str(year)], dict_dis[str(year)][['YC', 'RC', 'DIS']], left_index=True, right_index=True, how='outer'))
dict_past_seasons = {str(2012 + i) : temp_pd[i] for i in range(0,6)}

new_temp = []

for year in range(2012, 2018):
    new_temp.append(pd.merge(dict_past_seasons[str(year)], dict_cs[str(year)][['CS']], left_index=True, right_index=True, how='outer'))

dict_final_seasons = {str(2012 + i) : new_temp[i] for i in range(0,6)}

In [16]:
dict_final_seasons['2015']

,P,W,D,L,GF,GA,HW,HGF,HGA,AW,...,AGA,PTS,H_Att,A_Att,H_Def,A_Def,YC,RC,DIS,CS
Team,,,,,,,,,,,,,,,,,,,,,
Arsenal,38,20,11,7,65,36,12,31,11,8,...,25,71,1.093474,1.481481,0.479303,0.881834,38,4,0.710526,18
Aston Villa,38,3,8,27,27,76,2,14,35,1,...,41,17,0.493827,0.566449,1.525054,1.446208,74,3,1.131579,6
Bournemouth,38,11,9,18,45,67,5,23,34,6,...,33,42,0.811287,0.958606,1.481481,1.164021,53,1,0.750000,7
Chelsea,38,12,14,12,59,53,5,32,30,7,...,23,50,1.128748,1.176471,1.307190,0.811287,56,5,1.000000,9
Crystal Palace,38,11,9,18,39,51,6,19,23,5,...,28,42,0.670194,0.871460,1.002179,0.987654,59,2,0.881579,8
Everton,38,11,14,13,59,55,6,35,30,5,...,25,47,1.234568,1.045752,1.307190,0.881834,41,5,0.802632,10
Leicester City,38,23,12,3,68,36,12,35,18,11,...,18,81,1.234568,1.437908,0.784314,0.634921,45,3,0.750000,15
Liverpool,38,16,12,10,63,50,8,33,22,8,...,28,60,1.164021,1.307190,0.958606,0.987654,58,3,0.921053,11
Manchester City,38,19,9,10,71,41,12,47,21,7,...,20,66,1.657848,1.045752,0.915033,0.705467,61,0,0.802632,16
Manchester Utd,38,19,9,10,49,35,12,27,9,7,...,26,66,0.952381,0.958606,0.392157,0.917108,64,1,0.894737,18
Newcastle Utd,38,9,10,19,44,65,7,32,24,2,...,41,37,1.128748,0.522876,1.045752,1.446208,58,5,1.026316,8
Norwich City,38,9,7,22,39,67,6,26,30,3,...,37,34,0.917108,0.566449,1.307190,1.305115,60,3,0.947368,5
Southampton,38,18,9,11,59,41,11,39,22,7,...,19,63,1.375661,0.871460,0.958606,0.670194,54,6,1.026316,12
Stoke City,38,14,9,15,41,55,8,22,24,6,...,31,51,0.776014,0.827887,1.045752,1.093474,50,4,0.868421,10
Sunderland,38,9,12,17,48,62,6,23,20,3,...,42,39,0.811287,1.089325,0.871460,1.481481,62,2,0.921053,7
Swansea City,38,12,11,15,42,52,8,20,20,4,...,32,47,0.705467,0.958606,0.871460,1.128748,60,1,0.842105,9
Tottenham,38,19,13,6,69,35,10,35,15,9,...,20,70,1.234568,1.481481,0.653595,0.705467,72,0,0.947368,13
Watford,38,12,9,17,40,50,6,20,19,6,...,31,45,0.705467,0.871460,0.827887,1.093474,73,3,1.118421,11
West Bromwich,38,10,13,15,34,48,6,20,26,4,...,22,43,0.705467,0.610022,1.132898,0.776014,65,3,1.013158,11
West Ham Utd,38,16,14,8,65,51,9,34,26,7,...,25,62,1.199295,1.350763,1.132898,0.881834,57,5,1.013158,11

In [17]:
for season in range(2012, 2018):
    dict_final_seasons[str(season)].to_csv('./Data/epl_table_' + str(season-2000) + str(season-1999) + '.csv')

### Step 5: Create a Scoring Model (Poisson Distribution)

In [18]:
def score_percentage(dataframe, hometeam, awayteam):
    home_avg = dataframe['HGF'].sum()/380
    away_avg = dataframe['HGA'].sum()/380
    
    home_score = float(dataframe[dataframe.index == hometeam]['H_Att']) * float(dataframe[dataframe.index == awayteam]['A_Def']) * home_avg
    away_score = float(dataframe[dataframe.index == awayteam]['A_Att']) * float(dataframe[dataframe.index == hometeam]['H_Def']) * away_avg

    score = []
    # maximum score for a team is 5
    for goals in range(0, 6):
        scores = {}
        scores['Home'] = (poisson.pmf(goals, home_score) * 100) # Hometeam score
        scores['Away'] = (poisson.pmf(goals, away_score) * 100) # away score

        if len(scores) == 2:
                    score.append(scores)
    score = pd.DataFrame(score, columns=(['Home', 'Away']))
    home_w = 0
    away_w = 0
    draw = 0
    for home in range(1, len(score)):
        for away in range(0, home):
            home_w += (score['Home'][home] * score['Away'][away] / 10000)

    for away in range(1, len(score)):
        for home in range(0, away):
            away_w += (score['Home'][home] * score['Away'][away] / 10000)

    for home in range(0, len(score)):
        away = home
        draw += (score['Home'][home] * score['Away'][away] / 10000)
        
    return home_w, away_w, draw

In [19]:
for years in range(2013, 2018):
    for home_team in dict_final_seasons[str(years)].index:
        tot_hw = 0
        tot_aw = 0
        tot_dr = 0
        for against_team in dict_final_seasons[str(years)].index:
            if against_team != home_team:
                home_w, away_w, draw = score_percentage(dict_final_seasons[str(years)], home_team, against_team)
                tot_hw += home_w
                tot_aw += away_w
                tot_dr += draw
                dict_final_seasons[str(years)].loc[dict_final_seasons[str(years)].index == home_team, 'HWPR'] = tot_hw / 19
                dict_final_seasons[str(years)].loc[dict_final_seasons[str(years)].index == home_team, 'HLPR'] = tot_aw / 19
                dict_final_seasons[str(years)].loc[dict_final_seasons[str(years)].index == home_team, 'HDPR'] = tot_dr / 19

    for away_team in dict_final_seasons[str(years)].index:
        tot_hw = 0
        tot_aw = 0
        tot_dr = 0
        for home_team in dict_final_seasons[str(years)].index:
            if home_team != against_team:
                home_w, away_w, draw = score_percentage(dict_final_seasons[str(years)], home_team, against_team)
                tot_hw += home_w
                tot_aw += away_w
                tot_dr += draw
                dict_final_seasons[str(years)].loc[dict_final_seasons[str(years)].index == against_team, 'AWPR'] = tot_hw / 19
                dict_final_seasons[str(years)].loc[dict_final_seasons[str(years)].index == against_team, 'ALPR'] = tot_aw / 19
                dict_final_seasons[str(years)].loc[dict_final_seasons[str(years)].index == against_team, 'ADPR'] = tot_dr / 19

In [36]:
epl_detail_1314 = pd.read_csv('./Data/epl1314.csv').replace(team_name)
epl_detail_1415 = pd.read_csv('./Data/epl1415.csv').replace(team_name)
epl_detail_1516 = pd.read_csv('./Data/epl1516.csv').replace(team_name)
epl_detail_1617 = pd.read_csv('./Data/epl1617.csv').replace(team_name)
epl_detail_1718 = pd.read_csv('./Data/epl1718.csv').replace(team_name)
epl_detail_1819 = pd.read_csv('./Data/epl1819.csv').replace(team_name)

In [39]:
detail_list = [epl_detail_1314, epl_detail_1415, epl_detail_1516, epl_detail_1617, epl_detail_1718, epl_detail_1819]
for filename in detail_list:
    filename.to_csv('./Data/' + eval(filename) + '.csv')

TypeError: eval() arg 1 must be a string, bytes or code object